[2020-04-17 20:30] vermeeren commented on #504
Just to make sure: there is only one `.. doxygenfunction:: augpy::check_contiguous(CudaTensor *)` in all of the RST docs? It might be that only the function name is used to identify it internally somehow, which would explain issues with overloaded functions.

There have been quite some major changes with Sphinx 3, so there is a (tiny) chance this might have been fixed. If possible could you try wi

[2020-04-17 20:39] vermeeren commented on #502
From https://github.com/michaeljones/breathe/blob/master/documentation/source/latexmath.rst:

Sphinx mathbase has been moved to core, which caused warnings, see #451. This was then fixed by PR #469. This PR is small, but it can be noted `math_nodes` has been removed and the RST node has been changed to `math_block()`.

The chance is high this is a bug on Breathe's side not passing things correctly

[2020-04-17 20:41] vermeeren commented on #483
Might be automatically fixed with Sphinx 3 and latest Breathe, considering the C domain was rewritten and Breathe now uses Sphinx in a more proper way compared to before.

If you could verify that it would be great.

[2020-04-17 20:46] vermeeren commented on #493
I suppose the conclusion is that this is up to the theme or at the very least outside of Breathe's scope, as it is about rendering. Closing this because of this, comment if you disagree.

[2020-04-17 20:46] #493 closed

[2020-04-17 20:46] jfolz commented on #504
Yep, there's only those 3 mentions in the entire doc.
I later saw that Sphinx 3 was released, so I updated to Sphinx==3.0.1 and breathe==4.15.0.
After fixing deprecations and such the warnings are still there.

[2020-04-17 20:48] vermeeren commented on #477
@jedbrown Sphinx 3 has a mostly rewritten C domain, which Breathe >= 4.15.0 uses somewhat properly. There is a significant chance the problem is (partially) fixed with this. If you have the time could you check again?

[2020-04-17 21:09] vermeeren commented on #504
Sphinx docs very much indicate this is fully supported in the C++ domain, see http://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#overloaded-member-functions. Though the `Duplicate declaration` warning is emitted in Sphinx at https://github.com/sphinx-doc/sphinx/blob/3.x/sphinx/domains/cpp.py#L6556.

I suspect either Breathe doesn't pass the function arguments to Sphinx properl

[2020-04-18 02:33] vermeeren commented on #318
If someone could check https://github.com/michaeljones/breathe/pull/501#issuecomment-615541941 and post some thoughts about this specific comment I would appreciate it, will make an upload after it is handled.

[2020-04-18 09:33] maximiliank commented on #502
Thank you for pointing out where to look.

[2020-04-18 11:03] eldadr opened #507 "Link from function to enum is missing when the enum is inside a group"
Assume the following header file:

[code]

And the following RST code:

[code]

When looking at the generated HTML, a link from the function definition to the struct definition is created, but a link to the enum definition is not created:

![breathe](https://user-images.githubusercontent.com/30600380/79635956-eb30e780-817c-11ea-97a9-c3ae78f6ba15.png)

(BTW, without the `members` and `undoc-members

[2020-04-18 12:01] vermeeren commented on #318
Reopening until fully handled, see comments in #501.

[2020-04-18 19:25] #507 closed

[2020-04-18 19:34] #502 closed

[2020-04-18 20:32] vermeeren commented on #318
If some of you could review #509 and check if the doc makes sense to you I would appreciate it.

[2020-04-18 20:34] vermeeren commented on #475
@michaeljones do you have any idea what is up with RTD and how it works? I assume it is tied to some sort of account in some way?

[2020-04-18 22:34] #318 closed

[2020-04-18 22:41] vermeeren commented on #502
Just uploaded v4.16.0 containing the fix, thanks again.

[2020-04-18 22:41] vermeeren commented on #507
Breathe v4.16.0 was just released containing the fix you provided.

[2020-04-18 22:45] vermeeren commented on #318
Breathe v4.16.0 has just been released containing the implementation of doxygen(auto)file section option and improved documentation for doxygen(auto)file in general. Unfortunately readthedocs sync is somehow broken, see #475. I added a screenshot below of the section option table. You can of course also `make html` in the Breathe repo yourself until doc deployments are fixed.

@alephzero thanks ag

[2020-04-19 06:13] eldadr commented on #507
Thanks!

[2020-04-21 08:12] Patrick5088 opened #510 "Invalid token error on doxygen generated XMLs"
Breathe doesn't seem to parse german letters such as umlaut u in the xmls generated by doxygen.I bet that it is an error caused by encoding ,but i don't know how to fix it or where to fix it.What should I configure.

[2020-04-21 11:20] Patrick5088 commented on #510
Solved

[2020-04-21 11:20] #510 closed

[2020-04-21 12:16] vermeeren commented on #510
You might want to post how you solved it in case anyone else encounters this issue. Perhaps locale wasn't set to something unicode or similar?

[2020-04-21 12:36] Patrick5088 commented on #510
The error is not from Breathe. The error comes from the fact that Doxygen outputs XML files encoded in ANSI (even though INPUT_ENCODING and DOXYFILE_ENCODING are set to UTF-8 ).I verified the encoding of the xml in Notepad++ ,converted the xml file from ANSI to UTF-8 ,than it worked (until parsing the next xml file that was encoded in ANSI).
The issues was finally solved by manually converting all

[2020-04-21 13:06] vermeeren commented on #510
Thanks for posting the details.

At least on GNU/Linux this works without any encoding hacks or Doxygen encoding settings out of the box, with a system locale that is UTF-8. I would guess this is either a Doxygen Windows-specific bug or a result of the Windows locale somehow not being an unicode variant, though I don't know much about Windows locales.

[2020-04-21 14:42] WuYingzheng opened #511 "C struct with enum render fault !"
I have a following c **_struct enum_struct_** with union members:

[code]

it will generate the following result, in fact _**struct struct_a a & struct struct_b**_ b belong to the **_union auth_**, not a member of `struct enum_struct` . The following result indicates that `struct enum_struct` have two members `a & b`, which is not expected.

![image](https://user-images.githubusercontent.com/32995

[2020-04-21 17:02] vermeeren commented on #511
This might be related to #447 and/or #369, I am not entirely sure. It might also be a problem in Sphinx's C or C++ domain, which is at https://github.com/sphinx-doc/sphinx/blob/3.x/sphinx/domains/c.py. and at the same path `cpp.py`.

At the very least I can conclude this happens in both Sphinx C and Sphinx C++ domain, just C domain renders `enum_struct.[anonymous] auth` and C++ renders `enum_struc

[2020-04-21 17:17] siedentop commented on #343
Here is a good resource walking you through the process: https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/ by @tartanllama.

I know this is an old thread but it comes up when searching for this, and I hope this will help others in the same way it helped me.

[2020-04-23 14:18] StrikerRUS commented on #500
@jakobandersen Everything works fine with Sphinx 3.0.2! Thank you very much for the awesome support!

[2020-04-23 14:18] #500 closed

[2020-04-24 15:25] MaximilienNaveau commented on #293
Sorry to bother you guys bu in the latest documentation I couldn't find information about breath-apidoc. I found out about this tools in the exhale package...
It is a great tool, which might need slight improvement but very efficient!
If the documentation exists please point me toward it and make it more obviously available in the breath doc.
Otherwize please write a little bit of doc about it for

[2020-04-24 15:47] MaximilienNaveau opened #513 "breath-apidoc do not generate the the examples"
## Short description

I would like breath-apidoc to generate .rst files containing the docs like doxygen generates upon using @example.

## Detailed description

I have a small example of my usage of `doxygen + breathe-apidoc + sphinx-apidoc + sphinx-build`.
It is not on github yet but soon. (todo put a link here)
In this small project I have a dummy C++ and Python code with some classes, template

[2020-04-24 17:36] vermeeren commented on #293
@MaximilienNaveau breathe has a significant lack of contributors for things like this. If you could help out and write a little bit of documentation for `breathe-apidoc` and submit it as a PR that would be great.

[2020-04-26 16:27] LizardM4 opened #514 "Duplicate declaration when using nested classes"
This occurs when forward-declaring a nested class and then implementing it somewhere else, e.g. the following code

[code]
produces the following warnings:

[code]

I tried with master version of Sphinx and Breathe (through Exhale), but this still persists. It also persists when using [PR 512](https://github.com/michaeljones/breathe/pull/512).

I have an Exhale-based project [here](https://github.

[2020-04-26 20:06] colombojrj opened #515 "Enum itens are not referenced"
Hello,

I can not reference my enum class items using any of these:

- :cpp:any:
- :cpp:class:
- :cpp:struct:
- :cpp:func:
- :cpp:member:
- :cpp:var:
- :cpp:type:
- :cpp:concept:
- :cpp:enum:
- :cpp:enumerator:

It is worth noting I can reference the enum itself. What should I do?

[2020-04-27 21:45] LizardM4 commented on #289
I also encountered this when using the [detection idiom](https://people.eecs.berkeley.edu/~brock/blog/detection_idiom.php), although in my case it's in combination with #441 :

[code]

Gives rise to this:
[code]

I'm not sure how to apply the comments above to this specific case. The two `doxygenfunction` are missing the return value but are correct:
 * `.. doxygenfunction:: detect::test_something

[2020-05-01 18:40] lshamis opened #516 "Section titles in comments"
I get the following error message when trying to embed section titles into comments:
[code]

The generated doc does not show the section title.

Source:
[code]

[2020-05-01 18:51] vermeeren commented on #516
I am thinking this is emitted by docutils. Afaik an empty line is required below the section title and its content.

If that also doesn't work, it might be because the entire RST it put into some node and a node itself might not be allowed to have other sections. Not sure either way, just some ideas.

[2020-05-01 18:52] jakobandersen commented on #481
Fixed in the 3.x branch of Sphinx (future v3.1).

[2020-05-01 19:02] #481 closed

[2020-05-01 19:04] vermeeren commented on #441
With #512 merged in a bit this now only (may) need support upstream in Sphinx, so said PR will close this issue.

[2020-05-01 19:07] #284 closed

[2020-05-01 19:14] vermeeren commented on #284
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:14] vermeeren commented on #309
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:14] #309 closed

[2020-05-01 19:14] vermeeren commented on #338
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:14] #338 closed

[2020-05-01 19:14] vermeeren commented on #354
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:14] #354 closed

[2020-05-01 19:15] vermeeren commented on #356
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:15] vermeeren commented on #407
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:15] #407 closed

[2020-05-01 19:15] vermeeren commented on #470
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:15] #470 closed

[2020-05-01 19:16] vermeeren commented on #483
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:16] #483 closed

[2020-05-01 19:16] vermeeren commented on #489
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:16] #489 closed

[2020-05-01 19:17] vermeeren commented on #441
Should be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions.

[2020-05-01 19:17] #441 closed

[2020-05-01 19:19] vermeeren commented on #282
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:19] vermeeren commented on #369
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:19] vermeeren commented on #406
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:19] vermeeren commented on #408
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:19] vermeeren commented on #437
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:19] vermeeren commented on #442
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:20] vermeeren commented on #447
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:20] vermeeren commented on #477
This might be fixed with #512, released in Breathe v4.17.0. Note that you also need Sphinx 3.x for recent Breathe versions. Could someone try and post results?

[2020-05-01 19:29] CareF commented on #282
@vermeeren  I can confirm on my side it's now correctly showing as C function. Thank yo!

[2020-05-01 19:47] vermeeren commented on #282
@CareF good to hear, closing this one then.

[2020-05-01 19:47] #282 closed

[2020-05-01 19:50] jedbrown commented on #477
Thanks! This typedef rendering looks fine to me: https://libceed.readthedocs.io/en/jed-breathe-4.17/api/CeedBasis/#typedefs-and-enumerations

[2020-05-01 19:54] vermeeren commented on #477
@jedbrown I also believe the `PREDEFINED = restrict=` workaround is no longer needed with current Sphinx, as I can find `restrict` in the keywords of `sphinx/domains/c.py`. Do mind giving this a quick test as well?

[2020-05-01 20:13] jedbrown commented on #477
Renders like this: https://libceed.readthedocs.io/en/jed-breathe-4.17/api/CeedBasis/?highlight=schur#c.CeedSymmetricSchurDecomposition

[2020-05-01 20:31] jakobandersen commented on #441
And it is now fixed on the Sphinx side in the 3.x branch (future v3.1).

[2020-05-01 22:16] vermeeren commented on #477
@jedbrown Nice, looks like it is working properly and rendering in the idiomatic way. I do notice there is one space too many after the `restrict`, but this appears to be happening because of the way RTD theme handles things with padding.

![image](https://user-images.githubusercontent.com/5957454/80845580-ec94f200-8c09-11ea-844e-4cbe336eeb40.png)

The `restrict` has class `property`, which means

[2020-05-01 22:16] #477 closed

[2020-05-02 12:37] rouault opened #518 "4.17.0 regression "WARNING: Duplicate declaration""
I've spotted a 4.16.0 -> 4.17.0 regression regarding a confusion when a enum class enumerator and a static variable share the same name

Minimum reproducer:
* given test.hpp with
[code]

* given conf.py with
[code]

* given index.rst with
[code]

Run:
`printf "GENERATE_XML=YES\nGENERATE_HTML=NO\nINPUT=test.hpp\n"  | doxygen -` and then `sphinx-build -b html . ./html`

With 4.17.0, this emits ``/ho

[2020-05-02 13:16] vermeeren commented on #518
@jakobandersen At a glance i would think this is a problem at the Sphinx side, can you share thoughts?

[2020-05-02 14:09] rouault commented on #518
I've tried a pure Sphinx workflow with index.rst being just
[code]

The above doesn't throw a warning. But if I replace `.. cpp:enum-class:: MyEnum` by `.. cpp:enumclass:: MyEnum`, I get a `ARNING: Duplicate declaration, const MyClass NONE` warning, which is probably expected since the correspond C++ code wouldn't compile. So I believe this might be a Breathe issue, in that it likely emits a ```..

[2020-05-02 17:25] #516 closed

[2020-05-02 20:57] jakobandersen commented on #518
I believe this is a Doxygen (and thereby Breathe) issue related to scoped vs. unscoped enumerations. When I run Doxygen (v1.8.13) I get the following XML for the enum:
[code]
Maybe I missed it somewhere, or my Doxygen is too old, but basically the handling need to be done at https://github.com/michaeljones/breathe/blob/master/breathe/renderer/sphinxrenderer.py#L1453 where ``handle_declaration`` ne

[2020-05-02 21:10] rouault commented on #518
Yes Doxygen version must matter. With 1.8.17, I get
[code]

[2020-05-03 11:06] yaqwsx commented on #289
I have a problem that is related, therefore I will put it here instead of opening a new issue. I am also not sure if it is more breathe or sphinx related issue.

I have the following C++ overload:
[code]

When I put them in my `.rst` like this:
[code]

I get the following warning:
[code]

But the generated documentation seems to be correct. I think the warning is a bug. Is there a way to solve thi

[2020-05-03 11:52] jakobandersen commented on #289
I'm quite sure this is a Breathe issue. From #512:
It looks like the doxygenfunction directive results in Duplicate declaration warnings. I believe the problem is that Breathe renders function declarations twice, once to figure out if the function
is actually selected by the directive (directives.py:237), and then secondly to actual rendering into the output. The first round is discarded. Instead

[2020-05-04 08:02] bmerry commented on #356
I'd like to re-open this (but for some reason Github isn't showing me the re-open button). If I leave out `:no-link:` then the resulting document works just as I hoped: `A::foo` and `B::foo` have separate HTML anchors and `:cpp:func` links to them work properly; but I still get duplicate target warnings:
[code]

I don't want to use `:no-link:` because that also removes links for member functions d

[2020-05-04 08:38] yaqwsx commented on #289
I think having the third option makes sense for C++. Also, what would make sense to me is to have a directive, which wouldn't issue a warning but instead, listed all the overloads of function/class/struct.

[2020-05-04 08:39] jakobandersen commented on #356
These IDs are entirely on the Breathe side, and I have yet to understand where there are actually used for anything. They may appear in Doxgen-generated HTML, but I'm not sure of the use-cases.
So I believe that except for the visual annoyance of getting warning output it is rather harmless.
The ``:no-link:``, as you hint at, messes also with the underlying Sphinx stuff.

[2020-05-04 08:52] talonmyburgh opened #519 "Breathe support for VHDL Doxygen output"
Hi all,

Set up:
 - Doxygen: 1.8.19
 - Breathe: 4.16.0
 - Sphinx: 3.0.3

I have a VHDL project documented with Doxygen and was hoping to port the XML output to readthedocs with Breathe. While I am sort of able to get the XML content to appear, it is not laid out very well, and I receive a lot of "Invalid C++ declaration" warnings when running 'make html'.

I suspect the Breathe was made purely for

[2020-05-04 14:22] vermeeren commented on #519
In theory Breathe could support any domain Sphinx and Doxygen support, see also https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html. I believe Breathe currently handles C, C++, Python and PHP.

A quick search gives me https://github.com/Paebbels/sphinxcontrib-vhdldomain. As for integration with Breathe, perhaps #351 is useful. As there is a lack of contributors you will have t

[2020-05-05 04:19] tomghuang opened #520 "Customize the order of sections"
When I use breath with Sphinx, Read the Doc Theme, and Doxygen, I can successfully insert a function API description in my Sphinx-based documentation. However, the sections are in the following order:

* Return
* See
* Note
* Warning
* Parameters

However, I want to organize the sections in the order similar to MSDN documents:

* Parameters
* Return
* Note
* Warning
* See

I tried to find a way to

[2020-05-05 12:07] vermeeren commented on #520
Support for section selecting and section order was recently added for `doxygenfile` and `autodoxygenfile` directives in #501 and #509. Documentation for that can be found at https://github.com/michaeljones/breathe/blob/master/documentation/source/file.rst, the RTD docs are currently not up-to-date due to #475.

Something else that may be of use, from https://github.com/michaeljones/breathe/blob/m

[2020-05-06 09:30] msimberg opened #521 "friend struct not handled since 4.17"
We have code which uses `friend struct x;` (note: not `friend class`). Breathe does not like this since 4.17.0 because of https://github.com/michaeljones/breathe/commit/fa6df5ae8d83eb6fed51f1456ca94919eb3fa7b2, with the assertion here failing: https://github.com/michaeljones/breathe/blob/fa6df5ae8d83eb6fed51f1456ca94919eb3fa7b2/breathe/renderer/sphinxrenderer.py#L1519. I tried both 4.16.0 which st

[2020-05-06 10:19] talonmyburgh commented on #519
Thanks.

[2020-05-06 10:19] #519 closed

[2020-05-06 13:01] vermeeren commented on #521
Probably a function should be added among the lines of `visit_friendstruct`, which would be rather similar to `visit_friendclass`. And then just call that one if we are dealing with a struct. I probably won't have time to properly handle this myself anytime soon though.

[2020-05-06 18:31] nveljkovic opened #523 "Regression on 4.17 (and 4.18) with compound union"
For a compound type:
[code]
Doxygen reports additional value entry for anon. inner struct:
[code]

Since version 4.17, instead of ignoring it, Sphinx reports an error when parsing this anon value:
[code]

It also generates it in the documentation:
union bdf
    Public Members
    uint32_t function
    uint32_t device
    uint32_t bus
    uint32_t domain
    *struct bdf::@0 @1*
    uint32_t as_uint

[2020-05-06 18:33] nveljkovic commented on #523
If this is not trivial to fix, I am willing to spend some time on it, as I really like Breathe, but would appreciate a nudge in the right direction (where to look, which code could be at fault...).

[2020-05-08 07:37] cmas1 opened #525 "doxygenfunction fails to document operator() overload"
Hi, I am using breathe 4.18.0 + sphinx 3.0.3 + doxygen 1.8.17 and I am encountering a problem when using the directive doxygenfunction to document the operator() of a class

Here is a dummy example
[code]

Now, when I build the documentation from
[code]
I got this result

![test_breathe](https://user-images.githubusercontent.com/19671250/81382729-233da180-910f-11ea-9390-490ef204aa06.png)

So the d

[2020-05-10 12:05] jakobandersen opened #527 "Extern variables and functions"
See also #526.

I couldn't find any indication on variables/functions being ``extern` ` in the Doxygen XML. Is this a too-old-doxygen problem? Tested on version Doxygen version 1.8.13.

[2020-05-10 16:51] #521 closed

[2020-05-10 18:09] vermeeren commented on #527
Not sure what you mean here exactly. I must admit I haven't used `extern` in quite a while and don't remember if it shows up correctly with Breathe/Sphinx.

[2020-05-10 18:10] jakobandersen commented on #527
As far as I can see it doesn't show up, e.g., see the added example in #526.

[2020-05-10 18:15] vermeeren commented on #525
When this issue is handled the thread from https://github.com/michaeljones/breathe/pull/524#discussion_r422671974 should also be handled, which is about `create_function_signature()` in `directives.py`.

[2020-05-10 18:30] vermeeren commented on #527
Yeah indeed there is nothing at all in the XML regarding `extern`, I tried some searching in the Doxygen docs and issue tracker but can't seem to find anything about `extern` in context of the XML output type.

For future reference the line `extern int cache_tree_matches_traversal(struct cache_tree *, struct name_entry *ent, struct traverse_info *info);` with Doxygen 1.8.13 gives:

[code]

[2020-05-10 18:36] vermeeren commented on #527
No change when it comes to `extern` with Doxygen 1.8.18, this should be fixed upstream first I suppose.

[2020-05-10 18:41] vermeeren commented on #523
Recent Breathe versions pass a lot more to Sphinx than they did previously. At a glance I suspect this edge case may currently simply not be supported yet in Sphinx's C domain, as that is where the error comes from. See https://github.com/sphinx-doc/sphinx/blob/3.x/sphinx/domains/c.py#L2451.

You could try experimenting a bit around this region to see what is going wrong. Breathe also obtained som

[2020-05-10 18:50] vermeeren commented on #521
Released fix in v4.18.1, should be resolved now.

@msimberg Can you confirm?

[2020-05-10 18:50] vermeeren commented on #504
Released fix in v4.18.1, should be resolved now.

@jfolz Could you test with the new release?

[2020-05-10 18:51] vermeeren commented on #458
This might be fixed in v4.18.1, could you test again @bkaradzic ?

[2020-05-10 19:40] jfolz commented on #504
@vermeeren 4.18.1 fixes all warnings as described above. I got `Unable to resolve multiple matches for function` for all of them, which I could resolve by specifying each `doxygenfunction` precisely as it was given in the list of alternatives, including parameter names.

Two duplicate declaration warnings were not fixed though:
[code]
Since the project is public now, [here's a link to the code](ht

[2020-05-10 19:47] vermeeren commented on #504
Thanks for the reply, will reopen this for now as the edge cases aren't fully covered yet it seems. Good to hear most instances of the problem are resolved now though.

[2020-05-10 19:49] jakobandersen commented on #504
(The last part regarding ``noexcept`` should be fixed when using the 3.x branch of Sphinx (future v3.1), sphinx-doc/sphinx#7485)

[2020-05-10 20:37] jfolz commented on #504
@jakobandersen Thanks, I updated to sphinx 3.0.3 :)

For reference, [here's the `doxygenclass`](https://gitlab.com/jfolz/augpy/-/blob/9e3ef0256c914d11db65a8fa1a4a5faac1805366/doc/source/cpp/tensor.rst#L41) and [here's the `doxygenfile`](https://gitlab.com/jfolz/augpy/-/blob/9e3ef0256c914d11db65a8fa1a4a5faac1805366/doc/source/cpp/tensor.rst#L164).

[2020-05-10 23:14] lgritz opened #529 "Exceptions since 4.17.0 for functions in a group"
I can confirm that this worked in 4.16, and in fact up through commit c6857daea, but fails starting with commit 2fbd5dede4 ("Scoped rendering of functions").

The situation is that I have C++ source code that looks schematically like this:

[code]

And then in the rst, something like

[code]

And up through 4.16, it would beautifully render the explanation followed by both of the polymorphic funct

[2020-05-10 23:16] lgritz commented on #529
Forgot to mention, it needs multiple functions within the group to hit the exception. If there's just one function with the group, it seems fine.

[2020-05-10 23:17] lgritz commented on #529
And I forgot to mention that the specific assertion message was:

[code]

[2020-05-11 00:39] bkaradzic commented on #458
@vermeeren This is fixed. Thanks!

[2020-05-11 00:39] #458 closed

[2020-05-11 07:54] jakobandersen commented on #529
I'm not able to reproduce it in my own small setup. Do you have an archive/repo available with (a slimmed down) example?

[2020-05-11 16:44] lgritz commented on #529
Yes, I'll try to make a small example today.

[2020-05-12 04:28] lgritz commented on #529
How about this?  https://github.com/lgritz/breathe-bug

I've narrowed it way down. In this example, it's slightly more complicated than my description (not by much, though). Almost any code I remove, at this point, allows it to succeed.

[2020-05-12 09:17] jakobandersen commented on #529
Aside from the Doxygen version (I have 1.8.13) I have tried with combinations of Breathe and Sphinx versions without hitting the same error. Perhaps it may be a an old pickle file that is somehow is not discarded, which can mess things up.
However, I did run into a different crash:
[code]
The warning it tries to emit is
[code]

[2020-05-12 17:23] lgritz commented on #529
I have seen the "tuple index out of range" error as well, on my real docs. It's just not the first thing I was hitting in my pared-down example.

Is that enough for you to go on, or is there something else I can provide that will help?

[2020-05-12 17:27] lgritz commented on #529
By the way, semi-unrelated to this bug, but your warning reminded me: It sure would be handy if (as an option?) rather than warn when a method signature is ambiguous, it would just print all the matches. Like, I would love to just say

    .. doxygenfunction:: zero
        :print-all:

and have it happily insert the descriptions of all of the zero() varieties in that spot.

In fact, the whole reas

[2020-05-14 02:56] pwm1234 opened #531 "Option to include brief command with :outline: option"
I am trying to use breathe to produce a User Manual for my code. One piece of documentation I would like to have is an overview of a class and namespace. The :outline: option almost does what I want, but it falls short because there is no way to also get the brief documentation string from the doxygen comments. This is important because I do not want to replicate the brief comment from the C++ com

[2020-05-14 03:06] pwm1234 opened #532 "exclude nested namespace from doxygennamespace"
I would like to be able to use the doxygennamespace directive for immediate contents of a namespace and exclude nested namespaces. I envision option choices similar to ``:no-nested:`` to skip all nested namespaces or ``:exclude-nested: foo`` to skip the nested namespace foo (similar to the ``:members:`` option list for classes. (As with the other issue I just submitted issue #531, if this is a rea

[2020-05-14 10:32] mpusz commented on #485
Hi again, the documentation of my project was updated recently. You can find it here: https://mpusz.github.io/units. Right now It is probably the biggest documentation using Breathe so you might consider referring to it on your website :-)

It is also probably the first big project using C++20 and with this, a lot of issues happen. You can find a lot of them in the "Reference" section of my docume

[2020-05-14 12:19] vermeeren commented on #478
This issue is invalid and probably related to your environment, perhaps the VSCode plugin is buggy and passes literal `\` to breathe in the path, which of course doesn't work. Or that plugin may not handle spaces itself, either way it appears to be outside of the scope of Breathe.

I took current master of Breathe, renamed the directory into `breathe with spaces` and as posted earlier it works fin

[2020-05-14 12:19] #478 closed

[2020-05-14 17:05] vermeeren commented on #531
Perhaps recent PR #501 will help understand Breathe a bit, I think adding a `:sections:` for other directives for cover more specific special use cases like the one you currently have.

[2020-05-14 17:05] vermeeren commented on #532
Probably relevant: https://github.com/michaeljones/breathe/issues/531#issuecomment-628766147

[2020-05-14 20:04] jakobandersen commented on #289
After a bit more thinking, I think this is a bit more complicated. The ``doxygenfunction`` directive doesn't know which language it is fetching functions from. Right now it always uses ``::`` as separator in nested names, so if you are using it for other languages then you must still use ``::``, which will then be rendered according to the ordinary syntax for that language. I guess few people use

[2020-05-17 10:19] mpusz commented on #478
I just did the same experiment as you did from Ubuntu bash (no VSCode involved). Here is the compilation log:

[code]

This is how I call Sphinx: https://github.com/mpusz/units/blob/master/docs/CMakeLists.txt#L62.

[2020-05-17 12:26] vermeeren commented on #478
On a healthy working path with spaces I have:

[code]

If I hack the `conf.py` and escape a space (which is obviously not needed because it is inside quotes), then I get an error similar to yours:

[code]

Something is escaping spaces, probably CMake. According to CMake syntax you are using unquoted arguments when using

[code]

see https://cmake.org/cmake/help/latest/manual/cmake-language.7.html#

[2020-05-17 15:29] mpusz commented on #478
You are right, my bad... ;-) Thanks!!!

[2020-05-18 08:06] yaqwsx commented on #289
IMHO having a `:domain:` option is a nice feature which will turn into a pain if there is no way to provide fault option. Personally I would like to have both - breathe-wide default domain and project default domain.

[2020-05-20 12:54] ahesford commented on #529
Not sure if this is related to this issue described in [`pybind11` PR #2220](https://github.com/pybind/pybind11/pull/2220). That project includes two inline constructors in a group using an `\addtogroup` block and fails with
[code]

[2020-05-22 10:29] jakobandersen commented on #523
Which version of Sphinx are you using?
When I tried your example it seems to work as good as it can from the Doxygen XML. The ``struct bdf::@0 @1`` definition gets rendered as ``struct bdf::[anonymous] [anonymous]`` which technically is correct.

[2020-05-22 10:36] jakobandersen commented on #515
Either ``:cpp:any: `` or ``:cpp:enumerator:`` role should be the right one to use (assuming it's a C++ declaration). Do you have an example of where it is not working?

[2020-05-22 10:52] jakobandersen commented on #514
The warnings seems to be correct. There are two rst files (generated by Exhale?) of interest:
* ``api/classnested_1_1parent.rst`` for the parent class.
* ``api/classnested_1_1parent_1_1nested.rst`` for the nested class.
However, the parent file already contains the declarations for the nested class (recursively), so the declarations in the second file become duplicates (or the other way around dep

[2020-05-22 11:00] jakobandersen commented on #511
I looks like a Doxygen XML bug to me. The ``enum_struct`` directly contains the shown members even though it shouldn't:
[code]
(Doxygen version 1.8.13)

[2020-05-22 11:05] jakobandersen commented on #468
This may be difficult for Breathe to do as the Sphinx project information is set in config variables in ``conf.py``.  Though, as you can write arbitrary Python code in ``conf.py`` you can initialize the information from wherever (e.g., reading it from a file generated by CMake).

[2020-05-22 20:57] vermeeren commented on #468
@h1nk I recommend you instead simply template the `conf.py` and use something like https://cmake.org/cmake/help/latest/command/configure_file.html, this doesn't need special integration and works for practically anything.

[2020-05-23 13:11] IvanoBilenchi opened #534 "Renderer crash when visiting typedef"
Breathe 4.18.1 (Sphinx 3.0.3), was previously using Breathe 4.14.1 (Sphinx 2.4.3) which does not have this issue.

This header crashes the renderer:

    /**
     * My integer type.
     *
     * @typedef my_uint_t
     */

    /**
     * Maximum value of a my_uint_t variable.
     *
     * @def MY_UINT_MAX
     */

    #if defined SOME_MACRO
        typedef uint32_t my_uint_t;
        #define MY_

[2020-05-25 03:33] lgritz commented on #529
Any progress on this? Is there more I can do to help track it down?

[2020-05-25 17:19] jakobandersen commented on #482
Regarding requires clauses and https://github.com/sphinx-doc/sphinx/issues/7295#issuecomment-629810549.
I just tried a small example:
[code]
and with Doxygen 1.8.13 the problem is definitely in the generated XML:
[code]
The missing part of the requires clause has been put into an extra variable declaration ``constexpr auto D``.
Perhaps a newer version gives a different result?

[2020-05-25 17:32] jakobandersen commented on #529
(@ahesford, I believe that is another distinct issue)

[2020-05-25 18:44] jakobandersen commented on #529
Now I tried in a completely fresh Ubuntu 18.04 container, with Doxygen 1.8.18, Breathe 4.17.0, and Sphinx 3.0.3, and I still get the same error regarding ``text.format(**self.context)`` (which indeed is a problem, triggered by the ``{}`` in one of the signatures).

[2020-05-25 18:48] lgritz commented on #529
Interesting. I really liked the compact initializer `= {}`, but if this is very hard to fix, I suppose I could replace this with the longhand `= ROI()` if that will unclog my documentation pipeline.

[2020-05-25 19:09] vermeeren commented on #534
I think the fix proposed is fine @IvanoBilenchi , thanks for investigating. Does appear the real problem is something else as is often the case, but this seems like a decent workaround. Should add a comment though marking the bug and what was the original situation so it isn't forgotten about in the future when this could be fixed properly.

@jakobandersen Could you also share thoughts if possible

[2020-05-25 19:11] jakobandersen commented on #529
I just posted PR #535 which should avoid crashing on the warning. I suspect that the reason for the warning in the first place is related to #289.

[2020-05-25 19:36] jakobandersen commented on #534
Hmm, this is strange. What is the supposed meaning of ``@typedef my_uint_t``?
If the C++ is
[code]
the XML is
[code]
but if the C++ is just
[code]
the XML becomes
[code]
Unfortunately, if ``typedef uint64_t my_uint_t;`` is replaced with ``using my_uint_t = uint64_t;``, the two XML snippets become
[code]
and
[code]
so the proposed fix unfortunately does not work for type aliases.
It seems like the

[2020-05-26 08:57] IvanoBilenchi commented on #534
Thanks for the reply!

I did some digging in the Doxygen docs: the [typedef command](http://www.doxygen.nl/manual/commands.html#cmdtypedef) seems to require a "typedef declaration" parameter, so likely the whole `typedef existing new` statement. The docs are not very explicit, though if you look at the [fn command](http://www.doxygen.nl/manual/commands.html#cmdfn), which is marked as being "equiva

[2020-05-26 10:16] jakobandersen commented on #534
Hmm, from the XML it looks like one can completely leave out the ``@typedef`` command. The comment is still put in the ``<detaileddescription>`` tag.
But you are right, there should be a warning about potentially iffy comments, making the rendering potentially wrong.

[2020-05-26 13:32] mpusz commented on #482
This is what I get for doxygen 1.8.17:

[code]

for the following code:

https://github.com/mpusz/units/blob/5dd9eaac87a50adc62b170987ebac2d1344d63c5/src/include/units/quantity_cast.h#L315-L393

[2020-05-26 13:50] jakobandersen commented on #482
I just tried with Doxygen 1.8.18 as well, and it gives the same result: the ``<argsstring>`` is incomplete and stops in the middle of the requires-clause. So I don't think Breathe can do any better for now.

[2020-05-26 14:03] vermeeren commented on #534
Would it be acceptable to emit a warning and then render it via the fallback way anyway, using `declaration = ' '.join([type_, name, node.get_argsstring()])` as posted above? Effectively this would just add an `else` to the statement.

[2020-05-26 14:09] jakobandersen commented on #534
Sounds like a good fallback to me. Note that this method may also be called for C declarations, so falling back to typdef as suggested is probably the best option.

[2020-05-26 19:56] svenevs commented on #482
Upstream issue to track: https://github.com/doxygen/doxygen/issues/2732

[2020-05-27 13:19] mpusz commented on #482
As I understand the workaround is for concepts definitions and does not apply to requires clauses?

[2020-05-27 21:36] rsdubtso opened #536 "Broken(?) links to not-fully-qualified types"
It seems like something funny is going with links to argument types when a type does not include all the namespaces and the param name coincides with the type (which is ugly but legal C++):

C++ header file:
[code]

index.rst:
[code]

Breathe then generates a link for type `something` in `otherthing::otherthing()` which points to the constructor itself instead of `abc::something`.

Reproducer repo

[2020-05-28 08:02] jakobandersen commented on #536
Thanks. This is unfortunately an icky issue in the C++ domain of Sphinx (and probably the C domain as well). I have opened an issue over there with the equivalent raw rst code, though I do not anticipate a quick fix.

[2020-05-28 20:42] rsdubtso commented on #536
Thanks! I'll try to work around it then.

[2020-06-01 19:37] nicokoe commented on #441
@jakobandersen & @vermeeren: It's been a long time for me and I'm not really into the subject anymore, but a little test I just did on myself on this topic still doesn't show the expected result for "trailing return types". See log and result:
![docs-warning](https://user-images.githubusercontent.com/27962036/83446856-bc7e8000-a44f-11ea-9315-5d580cc03fe2.PNG)
![trailing-return-type-bug](https://us

[2020-06-01 21:55] johnmcfarlane opened #537 "Exception in get_display_string while running sphinx-build"
**Describe the bug**
I'm trying to convert a project from Doxygen to Doxygen/Breathe/Sphinx and cannot get past an exception being thrown on invocation of `sphinx-build`:

No other information is given although there are numerous warnings related to parsing of C++ code and apparent confusion over files from different directories with the same filename:

[code]

**To Reproduce**
Steps to reproduce

[2020-06-02 07:46] jakobandersen commented on #537
As posted in the Sphinx issue, the actual crash is because of Sphinx. The duplicate filenames I guess is Breathe-related. The trailing return types should be working in the upcoming Sphinx v3.1.

[2020-06-02 07:47] jakobandersen commented on #441
Which Breathe version are you using?

[2020-06-03 21:36] breathe67 opened #538 "html output is missing c++ constructors"
I'm using breathe to generate C++ html docs with sphinx. Most of the output works,  but only a few constructors from my headers are being emitted to the final HTML.  The doxygen xml output contains the constructors' XML, and looks good as far as I can tell. I've attached a sample doxygen-generated file for one class ("point"). Search this file for:

           "<definition>api::point::point</defin

[2020-06-06 09:41] johnmcfarlane commented on #537
After removing the `,<3.1` from line 18 of _setup.py_, I was able to get past the reported error. The next fatal error (following the same repro steps) is:

This is caused by a tag file which pulls in a large number of references to external pages. Here is [the new traceback](https://gist.github.com/johnmcfarlane/16cbf90bac56d2ff880bd19ff4e2554e).

LMK if I should open a new Sphinx issue. Thanks!

[2020-06-06 11:44] nicokoe commented on #441
Breathe v4.18.1 and Sphinx v3.0.4. Maybe this just works with a future release of sphinx?

[2020-06-06 11:48] jakobandersen commented on #441
Yes, you need Sphinx branch 3.x, which will be released as v3.1 (soon if I remember correctly).

[2020-06-06 12:14] martinus opened #539 "nested namespaces wrongly ordered"
It seems to me that nested namespaces have the wrong order. E.g:

[code]

Rendering with this in the `.rst`:
[code]

Gives this HTML output:

[code]

[2020-06-06 17:23] martinus commented on #539
It seems to me the issue is because of this line in sphinxrenderer.py:

https://github.com/michaeljones/breathe/blob/330a73a8c5c2e1288d0c4340b2dcd3e57b8724af/breathe/renderer/sphinxrenderer.py#L526

Which was introduced in a2a1085e24022aececd2b93b46ade684f59d6ec0. When I comment this line out, it looks good to me. I have no idea though what why this has been added in the first place.

[2020-06-07 12:39] #539 closed

[2020-06-08 14:00] jmckenna opened #541 "requirements prevent use of Sphinx 3.1.0"
- Sphinx 3.1.0 has been released today (https://github.com/sphinx-doc/sphinx/blob/3.x/CHANGES)
 - currently breathe requirements are forced to be` Sphinx>=3.0,<3.1` (related to recent change through #498)
 - suggest to bump up the Sphinx version requirements

[2020-06-08 14:12] jakobandersen commented on #541
If I remember correctly there should be no Sphinx changes to prevent a bump to ``Sphinx>=3.0,<3.2``.
There may be cases in the documentation that could benefit from

  :rst:dir:`c:namespace-push`, and :rst:dir:`c:namespace-pop`.

Perhaps we should open an issue accumulating TODOs for an overview of when it may be beneficial to raise to lower Sphinx version bound.

[2020-06-08 15:02] vermeeren commented on #541
@jmckenna Fixed in breathe v4.19.1, just released it. Thanks for the issue.

@jakobandersen Yeah I think that would be a good idea, we could also document it in some COMPATIBILITY.md file in the repository, that might be easier to track long-term. I am fine with both cases.

(Appears the Sphinx branch 3.0.x has been removed, will update CICD in a sec.)

[2020-06-08 19:32] cadop commented on #249
Is this closed? In https://github.com/michaeljones/breathe/issues/422 it says this issue will be used to track c# support.

Also, there are multiple references to the custom C# domain of sphinx. However, I can't find any information relating to how that domain would be used by breathe.  Any guidance here?

[2020-06-08 19:41] vermeeren commented on #249
@cadop The only potentially useful thing I know of would be the PHP domain, a link to that PR is in my previous comment here.

[2020-06-09 11:21] jmckenna commented on #541
Verified here.  Thanks for the quick fix @vermeeren

[2020-06-09 11:21] #541 closed

[2020-06-11 13:31] LudovicGuerra opened #542 "Error parsing XML files"
[drv__timer__bf_8c.txt](https://github.com/michaeljones/breathe/files/4765056/drv__timer__bf_8c.txt)

Hi all.
I generated a XML file of my project with Doxygen.
But when I launch sphinx, i got this error:

Attached the log file

I am with sphinx 3.1.0
Windows 10 64 bits
Breathe 4.19.1
Python 3.8.3 64 bits

Thank you !

[2020-06-11 13:35] vermeeren commented on #542
@LudovicGuerra Can you upload the XML file that is not well-formed? I doubt this is a Breathe issue.

[2020-06-11 13:36] LudovicGuerra commented on #542
@vermeeren I did but in TXT cause the XML file is not supported

[2020-06-11 13:39] vermeeren commented on #542
@LudovicGuerra My bad. The character it complains about is `µ`. I suspect your system's locale is not set to something UTF-8 and/or Unicode. I will do a quick little test on my machine, give me a few minutes.

[2020-06-11 13:41] vermeeren commented on #542
Works fine here with `µ` character spammed in few places in a random function's Doxygen description and argument descriptions. Can you check your locale?

[2020-06-11 13:49] LudovicGuerra commented on #542
Cygwin (where i launch all my script) give me this:

[2020-06-11 14:05] vermeeren commented on #542
Yeah on a second look opening the file in `vim` indeed shows `latin1` as the character set, so as you say character encoding is likely the problem here.

[2020-06-11 14:09] LudovicGuerra commented on #542
Do you think adding more encoding to breathe would be a good idea ?

[2020-06-11 14:11] #542 closed

[2020-06-11 14:16] vermeeren commented on #542
I think it is up to the environment to have correct locale and/or file encoding settings, many utilities expect these to be set correctly. Breathe overriding the environment will likely cause many issues for users that use non-standard locale's and/or encodings.

You would probably encounter similar issues in many CLI tools and of course Python with the `fr_FR.cp1252` locale when special symbols a

[2020-06-11 15:06] Shamino0 opened #543 "Duplicate definition with C "typedef struct foo foo""
The following concept is perfectly valid C code:

    typedef struct foo_t {
       int bar;
    } foo_t;

For a C++ project, of course, the typedef is redundant, but for a C project, it is not.  `foo_t` and `struct foo_t` are two distinct items.

Doxygen renders this correctly, putting the `foo_t` documentation in a "Typedef Documentation" section and `struct foo_t` in a "Data Structures" section

[2020-06-11 15:53] jakobandersen commented on #543
There may be a minor change needed in Breathe, but otherwise the core problem is in Sphinx. I have opened an issue over there to discuss what the behaviour should be.
I tried double checking that this is not a regression with Sphinx v3.x and and the newer versions of Breathe, but in this example I couldn't get it to insert the struct, only the typedef (though in a raw Sphinx file it seems indeed l

[2020-06-11 19:51] Shamino0 commented on #543
Thanks.  You are correct - it appears to be a Sphinx problem.  I produced a test-case (attached) that demonstrates this (tested with Sphinx 3.1.0 and Breathe 4.19.0)

[testcase.zip](https://github.com/michaeljones/breathe/files/4766995/testcase.zip)

I'll see if I can revert to older versions and see if anything changes.

[2020-06-13 12:25] LudovicGuerra opened #544 "Breathe parsing XML slow"
Hi guys.
After some test and trying to launch  Breathe for my full project, it is not possible to use it.
With doxygen I have 6500 XML file generated, and it takes way too much time to analyse for Breathe all of this, the build take longer than 10 min.
Except if you have any advice to reduce it to 10 sec, I'm gonna have to abandon the idea of Breathe.
Thank you for your support

[2020-06-13 13:33] vermeeren commented on #544
I believe this is very similar, if not the same, as #439 and possibly #315. In short it appears that replacing minidom with lxml should net significant performance gain.

As always patches are very welcome, I don't have the time to actively develop Breathe at this point in time (I only maintain it, in a rather minimal sense unfortunately).

[2020-06-15 12:42] flomine opened #545 "Failed to render doxygen headers"
Breathe failed to render doxygen headers. Quite similar to #116 except that it is ok when using html tag. More precisely, using these code:
[code]
Breathe produces this html output

[code]
There is no "Header B" and "Header C". Is it normal that these headings are not printed by sphinx  ?
am I missing something?

corresponding doxygen html is:
[code]

corresponding doxygen xml is:
[code]

[2020-06-15 13:26] michaeljones opened #546 "Exploring Project Sponsorship"
I'm between jobs at the moment and looking to work primarily on freelance and contract work in the future. This mindset combined with watching the steady stream of activity and effort required to keep this project ticking along has led me to wonder if we should be exploring project sponsorship at all.

I'm honestly not sure how to go about it but I'm curious if perhaps commercial companies are rel

[2020-06-15 14:27] vermeeren commented on #546
@michaeljones I think this is a good idea, especially for the company case. Sponsors should probably get priority issue handling for all issue types, including bug fixes and feature requests. In the end everyone will benefit as Breathe itself will improve.

Another way to do things would be bounties per issue, but my personal experience is that this doesn't work very well and is also rather quirky

[2020-06-15 14:38] michaeljones commented on #546
To be honest, it doesn't sit too well with me to monetise Breathe when it is so reliant on Sphinx to exist but if Sphinx has a sponsorship mechanism we could funnel a percentage of the money to Sphinx too.

[2020-06-15 15:18] vermeeren commented on #546
I tried looking around a bit at the Sphinx side but all I could find is https://github.com/sphinx-doc/sphinx/issues/5844, seems like there is no donate/sponsor or similar mechanism?

[2020-06-15 17:54] vermeeren commented on #546
@michaeljones Forgot to say earlier, I do get your worries about monetising in general with these kind of projects. Has to be done rather carefully to avoid potential drama. Though at the same time it's better for both projects if there is some stable development time available, it can only improve the quality from a technical point of view.

Whether money is involved or not isn't something I care

[2020-06-16 22:34] LudovicGuerra commented on #544
Well yes it corresponds to othhers reports. We made the decision to not use Breathe. Thank you for your time and kind help, hope the best to this repository.

[2020-06-16 22:34] #544 closed

[2020-06-17 14:46] utzig commented on #534
It might be wrong but seems like Doxygen is expecting exactly this in its tests:

https://github.com/doxygen/doxygen/blob/master/testing/018_def.c#L31
https://github.com/doxygen/doxygen/blob/master/testing/018/018__def_8c.xml#L49

Also the few uses of "@typedef" in the Doxygen code base, are not documenting the typedef itself but its use, as can be seen here:

https://github.com/doxygen/doxygen/bl

[2020-06-17 15:05] jakobandersen commented on #534
Hmm, from that XML it is not clear to me how to figure out of it's a typedef or a type alias. Perhaps there is a different marker for type aliases?

I think it _is_ documenting the typedef, but just in a different position than where it is declared. The Doxygen docs for ``\fn`` seems to confirm this (https://www.doxygen.nl/manual/commands.html#cmdfn).
That is, if the documentation comment is at th

[2020-06-17 16:41] utzig commented on #534
My codebases are in C, so I won't be seeing much "using", but here are the results with a local test:

[code]

Resulting Doxygen XML:

[code]

[2020-06-17 20:02] #534 closed

[2020-06-17 20:06] vermeeren commented on #534
Fix released in v4.19.2 just now, thanks for all the work!

[2020-06-20 09:40] jakobandersen commented on #546
I wouldn't mind at all if people get payed for contributing, especially if it "just" accelerates the development that might have happened anyways at a much, much slower pace. Though, I would find it discouraging if this would slide into a situation where a company would essentially pay its way to change a project to suit them specifically at the cost of usability by the general public.

I have ind

[2020-06-22 15:18] harpolea opened #548 "Line breaks in argument lists"
We've been using breathe to generate documentation for our C++ code, Castro (which works great by the way - thank you!). However, we have a number of functions with fairly long, complex argument lists which are quite difficult to read (e.g. see  [this example](https://amrex-astro.github.io/Castro/docs/file/Castro__hydro_8H.html#_CPPv47ctoprimRKN5amrex3BoxEKN5amrex4RealERKN5amrex6Array4IKN5amrex4Re

[2020-06-22 16:00] jakobandersen commented on #548
That is indeed difficult to read, and in the end there probably need to be some changes in Breathe as well, but the main issue is with the capabilities of Sphinx. See sphinx-doc/sphinx#1514 (and related linked issues) for discussions.

[2020-06-25 13:22] michaeljones commented on #546
Thank you both for sharing your thoughts. It feels like we have concerns about it as a direction to take but also feel like finding a way to support the project could be good. I would agree with the concern of having a company take over the project one way or another but I would that is avoidable.

I have a lot of respect for the work that you both are doing and it seems like @jakobandersen you ar

[2020-06-25 14:09] vermeeren commented on #546
Sounds good to me. I do feel it will likely be difficult to receive funding as Breathe is a rather low-level component in a technical stack. And in my experience typically the people that decide where the cash goes mainly focus on the things they themselves can see directly. Still, it is definitely worth a shot, perhaps it will work out in the end.

(Other parts of your post seem good, I have no s

[2020-06-25 14:34] michaeljones commented on #546
Yeah, I agree. It may well be too well hidden and not glamorous enough to be well recognised and supported.

[2020-06-26 20:00] Shamino0 opened #549 ":no-link: doesn't seem to work in my project"
I haven't been able to reproduce this in a small project, so please bear with me and let me know of any tests I can run to help you diagnose this problem.

I'm developing a pretty large document set (documenting an SDK), consisting of 221 rst files.  Breathe is processing Doxygen output generated from 104 header files.

Each header file's Doxygen generates a page of the API reference using a per-h

[2020-06-28 09:37] jakobandersen commented on #549
I believe this is a 'problem' in Sphinx and not Breathe. The ``no-link`` option is translated by Breathe into the ``noindex`` option in Sphinx. However, ``noindex`` has not been fully working in the C and C++ domains previously, and it seems that through various changes the option is now completely ignored.
It it rather tricky to implement correctly due to the need for making cross-references insi

[2020-06-29 14:53] rw1nkler commented on #443
I think this might also be a useful feature for displaying the `@file` description without all the elements defined in the file.
Currently, this is impossible using the `doxygenfile` directive.

[2020-06-30 13:29] Shamino0 commented on #549
Thanks much for a quick response.

What will be the future of Breathe?  Will no-link be changed to use aliases?  Or should I directly put aliases in my document?

For now, I've commented-off the no-link blocks in my documentation in order to avoid breaking the HTML output.  I'll go back and fix it up when Sphinx 3.2 is released.

[2020-06-30 13:29] #549 closed

[2020-06-30 14:07] vermeeren commented on #443
Something related for the `doxygengroup` directive was merged recently with #501 in the form of a `sections` option. This could be added to other directives and perhaps satisfies this use case?

[2020-06-30 16:15] alephzero commented on #443
@rw1nkler you should be able to display just the `@file` description with
[code]

[2020-07-01 09:38] rw1nkler commented on #443
@vermeeren @alephzero Thank you very much! I need to check the `sections` option!

Maybe it will be good to regenerate the official documentation because the information about the mentioned option is missing there: https://breathe.readthedocs.io/en/latest/directives.html#id9. Unfortunately, the last build was created 1.5 years ago.

This option have a really nice description in the docs, which I r

[2020-07-01 19:53] vermeeren commented on #443
@rw1nkler Yeah there is some bug with RTD which somehow stopped updating quite a while ago, see #475. I have no experience with RTD and also don't know who set this up (it was before I became the maintainer).

I am really considering just dropping the RTD docs and hosting it on a webserver I manage instead, as I don't like all of the complexity with third party hosted docs and prefer dumb nginx or

[2020-07-02 13:13] jakobandersen commented on #549
I don't think there is anything to process on the Breathe-side, so I suggest writing the alias directives directly.

[2020-07-03 22:27] rogerbarton commented on #249
I've been working on this and I've started a PR #550

[2020-07-05 13:24] rogerbarton opened #553 "import breathe in setup.py"
In the `setup.py` file breathe is imported purely to get the version string. However, this causes for everything to be imported before it has actually been installed and before pip has installed the dependencies.

https://github.com/michaeljones/breathe/blob/e3fcc6c38a8ace2fe51e6d08f7d6a4bb2c68d0a4/setup.py#L11
https://github.com/michaeljones/breathe/blob/e3fcc6c38a8ace2fe51e6d08f7d6a4bb2c68d0a4/s

[2020-07-08 10:20] gavv opened #554 "Enum rendering broken after update"
Hi, thanks for this great project! I'm using it to create API reference and am happy with it.

Sorry if it's a duplicate, but I didn't find similar issue.

Recently my system upgraded to breathe 4.14.1 and sphinx 2.4.4, and enum values are now rendered with their numerical values instead of names.

Before:

![image](https://user-images.githubusercontent.com/8436629/86906653-8900d680-c11c-11ea-8ec3

[2020-07-08 10:22] gavv commented on #554
Also, note that even numeric rendering is not quite correct: the first value renders as "1", but the real value is "-1".

[2020-07-08 14:17] vermeeren commented on #554
Can you try with latest Breathe 4.19.2 and a recent Sphinx? At least 3.0 but if possibly latest 3.1.2. There were some regressions in previous versions that should already be fixed in newer versions, especially with Sphinx having a vastly improved C and C++ domain in version 3.

[2020-07-08 14:42] gavv commented on #554
Thanks, it is fixed on breathe 4.19.2 + sphinx 3.1.2:

![image](https://user-images.githubusercontent.com/8436629/86932128-9da39580-c141-11ea-9712-579efdd27843.png)

BTW, these new `enumerator` prefixes are a bit annoying when there are many enum values.

[2020-07-08 14:42] #554 closed

[2020-07-08 16:19] jakobandersen commented on #554
This is something Sphinx makes. If one documents an enumerator independently of the enum they make a bit more sense, e.g.,
[code]
In your context, which is probably the most common, they can indeed be a bit distracting in high quantities.
How about adding a directive option to enums on whether nested enumerators have the prefix?

[2020-07-08 17:39] gavv commented on #554
Yep, I'd use it!

Thought, if the prefix returned by sphinx is always the same for enum values, maybe it makes sense to hide it unconditionally, since it doesn't add any information... If different prefixes are possible, an option makes more sense.

[2020-07-08 17:41] gavv commented on #554
Though someone may prefer to have the prefix for consistency with standalone enumerators, if they use both, so maybe an option is a better idea.

[2020-07-08 22:18] utzig opened #555 "Doxygen inner groups are not supported"
In Doxygen inner groups can be created by adding groups inside groups, or by using the \ingroup keyword. A few examples to clarify the possibilities:

[code]

This generates a new group `groupA` but unless a `\defgroup nonDeclaredGroup` is added somewhere it has no effect it is not added to any group. The only reason for this example is to state this "weird" behavior. No warning are generated.

Ex

[2020-07-09 14:30] pitrou opened #557 "doxygengroup behaviour a bit inconsistent"
`doxygengroup` shows the following slightly weird behaviour:
* classes get prefixed with their C++ namespace, functions don't
* classes show a `#include` header, functions don't

The inconsistency seems unexpected to me, and I don't really understand the reason. I would hope for a way to make `doxygengroup` output exactly similar to what `doxygenclass` and `doxygenfunction` do.

[2020-07-09 14:41] rw1nkler commented on #443
@vermeeren, First of all, you need maintainer rights to be able to set more advanced things related to documentation. Currently, there is only one RTD maintainer - [michaeljones](https://readthedocs.org/profiles/michaeljones/):
https://readthedocs.org/projects/breathe/

However, a simple configuration can be done, without those rights, using RTD config file:
https://docs.readthedocs.io/en/latest/c

[2020-07-09 15:15] vermeeren commented on #443
@rw1nkler Seems like it would be easy to fix in that case, thanks a lot for the info.

@michaeljones can you have a look at things considering you are the maintainer of the RTD project right now?

[2020-07-09 17:47] rw1nkler opened #558 "Wrong formatting of markdown headers"
The markdown headers from a Doxygen documentation are converted into italic.
Probably they should have more distinctive formatting

Doxygen output:
![dox](https://user-images.githubusercontent.com/52699314/87071887-31956000-c21b-11ea-99b5-abb7c2a0eb65.png)

Sphinx output:
![sphinx](https://user-images.githubusercontent.com/52699314/87072021-66091c00-c21b-11ea-9412-5d5691a7f69b.png)

Raw HTML:
[cod

[2020-07-10 07:39] jakobandersen commented on #558
Which version of Breathe and Sphinx do you use? When I try your project in the newest versions I only get "This is a detailed description.".
From a brief scan it looks like Breathe doesn't support the sectioning XML that gets generated (``sect1``, ``sect2``, etc.). See e.g., https://github.com/michaeljones/breathe/blob/master/breathe/renderer/sphinxrenderer.py#L1148.

[2020-07-10 09:39] rw1nkler commented on #558
Here is the list of used packages:
[code]
Doxygen version is `1.8.13`

[2020-07-14 10:36] utzig opened #559 "Performance issues in C domain after scoped rendering changes"
While working on upgrading Sphinx/breathe versions for building Zephyr's docs (https://docs.zephyrproject.org/latest/) I found out some real slow-downs when running builds on C domain with newer versions. Those docs are currently built with `Sphinx==2.4.4` and `breathe==4.14.2`, and I am trying to switch to `Sphinx==3.0.4` (or newer) and `breathe==4.19.2`.

Currently there is no `breathe_domain_by

[2020-07-14 11:50] jakobandersen commented on #559
Is it possible that you can post (a link to) the full cProfile output and/or detailed instructions to replicate the benchmark locally?

[2020-07-14 12:16] utzig commented on #559
I modified `sphinx-build` to read like this:

[code]

I uploaded the output of building the Zephyr documentation with `Sphinx==3.0.4` / `breathe==4.19.2` / `doxygen==1.8.18` here: https://paste.c-net.org/MoistThrown. As I've never used this bin paste service before, I'm leaving a sha256sum just in case: `9a19254821ce6721440ed6fb313b96ff8ace6d883f192b1844a9680bc337857d`!

[2020-07-14 20:43] jakobandersen commented on #559
sphinx-doc/sphinx#7960, should fix this. I looks basically all C domain data got copied every time an enumerator was encountered. Locally I got ~2200s on branch 3.1.x and ~890s on the PR based on the profile dumps. @utzig, can you confirm that the PR fixes the problem?

[2020-07-14 22:14] utzig commented on #559
Yes, that was awesome @jakobandersen. On the branch I am currently working on:

sphinx==3.1.2 / breathe==4.19.2
make html  1518.26s user 10.07s system 99% cpu 25:36.34 total

sphinx==3.1.3.dev20200714 / breathe==4.19.2
make html  709.51s user 8.19s system 99% cpu 12:00.10 total

Where this last Sphinx version is built from your PR, and there were no changes in the final output html! :+1:

[2020-07-15 10:15] jakobandersen commented on #559
Great! I will be in either v3.1.3 or v3.2.

[2020-07-16 13:37] rw1nkler commented on #558
It seems that this piece of code is not related to the problem. I set the breakpoint there, and the method was not invoked.

----------------------

I figured out that this is an unsupported feature:
https://github.com/michaeljones/breathe/blob/master/breathe/renderer/sphinxrenderer.py#L1083
How complicated would It be to provide that support?

[2020-07-27 19:08] michaeljones commented on #546
I don't have any updates on this and my attention has turned to looking for jobs so I don't I'll be exploring this much. That said, two thoughts have cross my mind.

1. Add a section to a new issue template that includes asking if the author uses Breathe for commercial purposes or not. Not sure what to do with that information but having some idea would be interesting.
2. Move to a dual licence si

[2020-07-28 16:31] MaximilienNaveau commented on #513
I updated the comment above reviving the links and adding precision.

[2020-08-01 22:36] JamesRandom commented on #328
I just tried this and it is still a problem:
Sphinx==3.1.2
breathe==4.19.2

[2020-08-03 06:45] Patrick5088 opened #562 "breathe_projects_source source path (windows version) is not parsed correctly"
I am trying to use **autodoxygenindex** directive. The problem occurs when the source path contains empty spaces. For example, if the path for **breathe_projects_source** in **conf.py** is "**C:\Users\User\Document\Example 1\Subdirectory Example 1**", then after executing "_**make html**_", in command prompt, the output will be:
warning: tag INPUT: input source 'C:\Users\User\Document\Example' doe

[2020-08-04 04:19] leimao commented on #83
Could you please verify this is still working? It seems that it is broken at my side.
[code]

[2020-08-04 13:13] #559 closed

[2020-08-11 11:11] LourensVeen commented on #546
Hi, I'm a random breathe user who spotted this thread while looking for something else. In case the topic becomes relevant again in the future, two things:

Open Source (and Free Software) were never anti-commercial. To the contrary, both the Open Source Definition and the Free Software Definition require anyone who receives the software to be able to use it commercially, and for example the GPL a

[2020-08-17 15:02] utzig opened #565 "Release breathe compatible with Sphinx>=3.2"
Breathe was made compatible with Sphinx >3.2 with commit: https://github.com/michaeljones/breathe/commit/8d07f406105c8196ac01519c770dd87c09d54465. This still requires publishing a new version of Breathe; there were so far two Sphinx releases on the 3.2 lineage.

[2020-08-19 20:24] #249 closed

[2020-08-19 20:40] vermeeren commented on #553
Fixed by one of the patches you provided in #550, specifically 9a06c0b2cc143a075bac6e5a24dbce27d74fcaac. Thanks again.

[2020-08-19 20:40] #553 closed

[2020-08-19 21:50] #555 closed

[2020-08-19 22:03] vermeeren commented on #562
Recently there was another bug reported with spaces in paths (on a *NIX OS though), see #478. I am not sure if this is a bug in breathe at this point or something related to the environment, I would say the latter has a higher chance.

@Patrick5088 Can you post full configuration snippet of the `breathe_projects_source` option, formatted in a literal block as is typical? And/or perhaps provide add

[2020-08-19 22:28] vermeeren commented on #565
Just released v4.20.0 containing the fix, see dd4ff4e4f30640e231eb4cea0d8c2f659e3266b4. Thanks for the issue!

[2020-08-19 22:28] #565 closed

[2020-08-19 22:31] vermeeren commented on #555
Version 4.20.0 was just released, adding support for innergroups.

[2020-08-20 13:09] vermeeren commented on #475
@michaeljones Can you check the above and see what the problem is in RTD? Only your name is in the maintainers profile of RTD, see https://readthedocs.org/projects/breathe/.

If you don't have time that's also fine, could you leave a reply in that case too? I intend to move official Breathe docs to one of my (self-maintained) webservers in that case, as I am not familiar with RTD.

[2020-08-20 13:39] michaeljones commented on #475
@vermeeren - sorry, I have been in the habit of dismissing Breathe notifications. I certainly have time to explore this. I'll have a look.

[2020-08-20 14:14] michaeljones commented on #475
@vermeeren - not that I wish to put more responsibility on your shoulders but I can add you to the readthedocs project if you sign up there? At least then I'm not a single point of failure.

[2020-08-20 20:01] vermeeren commented on #475
@michaeljones Yeah that's probably a good idea, just created an account, username is vermeeren as usual.

[2020-08-26 11:55] brechtm opened #568 "Suppress warnings"
Sphinx supports suppressing certain types of warnings by means of the [suppress_warnings](https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-suppress_warnings) configuration variable. This doesn't to be supported by Breathe. Is there any other way to suppress warnings such as "Member ... is not documented"?

[2020-08-27 00:54] cary-ilm opened #569 "doxygenclass for a template specialization not found"
I'm trying to reference a C++ template specialization in a doxygenclass directive:

    /// Foo<T>
    template <class T> class Foo
    {
      public:
        Foo() {}
    };

    /// Foo<std::vector<T>>
    template <class T> class Foo<std::vector<T>>
    {
      public:
       Foo() {}

        /// bar
        void bar();
    };

In rst, this works fine:

    .. doxygenclass:: Foo

but is there

[2020-08-27 10:27] utzig commented on #569
You have to use: `.. doxygenclass:: Foo< std::vector< T > >` (correct spacing here is important!)

[2020-08-27 14:40] vermeeren commented on #569
On a side note, issue itself seems a lot like #442. Based upon the above by @utzig I think it's safe to resolve that one too if this is confirmed to be ok by @cary-ilm .

[2020-08-27 16:26] cary-ilm commented on #569
That works like a charm, with the proper spacing inside the <>, it correctly processes the class. Thanks for the speedy response! I submitted #570 to add a note to the documentation about the spacing requirements.

[2020-08-27 16:44] #442 closed

[2020-08-27 16:44] #569 closed

[2020-08-28 13:20] vermeeren commented on #475
@michaeljones Checking the page at https://readthedocs.org/dashboard/breathe/integrations/ it currently gives a 400 bad request, from the exchange log:

[code]

I cannot see the GitHub side of things but I suspect something isn't setup properly there or there needs to be a "resync webhook" action on RTD side. Could you check a bit further?

[2020-08-28 13:21] michaeljones commented on #475
Thanks for the heads up. I'll look into it.

[2020-08-30 13:55] michaeljones commented on #475
The advice seems to be to delete the re-create the integrations on both sides. I've done that. Oddly Github seems to create two so I've deleted the one that seemed to be unnecessary.

I've attempted to test it by pushing a "test-rtd" branch and that seems to have triggered 200 (success) on the ReadTheDocs side. I'm afraid we're going to have to once more wait and see if it behaves itself for the `

[2020-09-09 10:53] MrKepzie opened #574 "KeyError: 'property'"
Hi,

I'm getting the following crash when running breathe on the doxygen XML output. The doxygen HTML output works fine.
The crash occurs both with breathe or using exhale as a meta generator.

[code]

[2020-09-09 11:10] jakobandersen commented on #574
It looks like it tries assumes the code is C++, but it has a "property" entity. Which language is it supposed to be?

[2020-09-09 13:57] MrKepzie commented on #574
Its is c++ but has custom macros passed to Qt moc

[2020-09-09 14:03] jakobandersen commented on #574
I'm not familiar enough with Qt to know how a property is interpreted by Doxygen and hence how it should be rendered. As a variable? Basically an entry just needs to be added to the dictionary in https://github.com/michaeljones/breathe/blob/master/breathe/renderer/sphinxrenderer.py#L201, mapping the ``property`` to the Sphinx type+name.

[2020-09-09 15:04] MrKepzie commented on #574
I don't seem to figure out why Doxygen output contains attributes of type kind="property".
Here's the begining of the XML output of doxygen for the faulty file:

[code]

[2020-09-09 16:18] MrKepzie commented on #574
I was able to get by adding this at the end of cpp_classes:

        'property': (CMacroObject, 'macro'),

[2020-09-10 13:38] steffenroeber opened #575 "How to display description of doxygenclass"
Hi, is there any way to get something like doxygenfile:: :sections: in a doxygen class?
What I need is to print only the description of a class without any further things.
Unfortunately doxygenfile:: also doesn't work, because it prints all classes of a file if there are more than one.
Or can I filter a specific class with doxygenfile::??

Best reagards

[2020-09-10 14:06] vermeeren commented on #575
@steffenroeber  The `:sections:` was only added rather recently in #501 and indeed only for `doxygenfile` directive. I don't think there is a way to do what you want currently with something like `:sections:`.

Can you post the RST in use? I believe the default is to only display the class description itself unless `:members:` option is passed. https://breathe.readthedocs.io/en/latest/class.html#b

[2020-09-10 16:01] steffenroeber commented on #575
Ok. Thank you.

[2020-09-10 16:09] #575 closed

[2020-09-10 17:51] vermeeren commented on #574
If Doxygen has native support for this, we could consider adding a mapping like posted above to Breathe if this is how properties work in general (as in: de facto standard usage of keyword). Otherwise a proper fix could be user-configurable types in `cpp_classes` via the usual configuration file.

[2020-09-10 18:43] vermeeren commented on #475
I just found it still fails, notably RTD does the following:

[code]

I noticed the `.readthedocs.yml` just needs to be updated to fix this, using our project's `requirements.txt` properly. https://docs.readthedocs.io/en/stable/config-file/v2.html

I will create patch for this within a few hours hopefully.

[2020-09-10 20:39] #475 closed

[2020-09-10 20:48] michaeljones commented on #475
Thank you for handling it, @vermeeren.

[2020-09-11 13:51] steffenroeber opened #577 "How to link in doxygen generated docu"
Hi,
I found that breathe creates/uses links within the doxygen generated xml files. But only partly. For example, function parameter types have working links to other elements.
I I use
[code]
in one .rst and
[code]
in another .rst: Then, links from cHarrisCornerStation to cCornerHarrisFunctor (in brief description part) are not resolved. Is this by design ow how I can I solve that? Doxygen resolve

[2020-09-12 13:17] Luthaf commented on #406
I still get a similar error related to two SFINAE methods with doxygen 1.8.20, sphinx 3.2.1 and breathe 4.21.0.

The code triggering the issue is reproduced below

[code]

[code]

[2020-09-12 13:57] vermeeren commented on #577
@steffenroeber Can you check if #566 applies to your project? Do you have have `SEPARATE_MEMBER_PAGES` set in Doxygen config?

[2020-09-12 14:57] steffenroeber commented on #577
Hi, no SEPARATE_MEMBER_PAGES is set no 'NO'.
The entry is my .xml is following:
[code]

The generated html looks like:
[code]
I' sure fully sure but I would expect cipp::cCornerHarrisFunctor is a link, right?

[2020-09-12 15:32] steffenroeber commented on #577
Seems to be solved. Don't know exactly. But now it works. Thanx for help.

[2020-09-12 15:47] vermeeren commented on #577
@steffenroeber Maybe something was wrong with caching, sometimes deleting doc build dir or using sphinx `-E` to avoid cache can help. Thanks for letting me know.

[2020-09-12 15:47] #577 closed

[2020-09-14 07:46] mpusz commented on #568
Yes, I have the same issue. I am not sure if I understand which ones are being generated by Sphinx and which ones are from Breathe but even with Sphinx run with `-Q` I get a lot of:

[code]

Without `-Q` Travis CI refuses to finish the build with the message:

[code]

More info on Travis CI issues here: https://travis-ci.com/github/mpusz/units/builds/184157816.

[2020-09-14 07:49] mpusz commented on #485
Another update to the docs done. This time I have a major issue as the Travis CI does not want to finish the build because of the number of warnings and errors reported by Sphinx and Breathe: https://travis-ci.com/github/mpusz/units/builds/184157816. Also, I had to disable some documentation pages as they crash the documentation generation process (https://github.com/mpusz/units/tree/master/docs_d

[2020-09-14 11:00] utzig commented on #568
The `The job exceeded the maximum log length, and has been terminated.` might be new, but you seemed to have been having documentation issues for quite a long time. I am looking at some 4 month old build here: https://travis-ci.com/github/mpusz/units/jobs/335751297 and the exact same issues exist. Those copied messages are coming from Breathe
due to an exception in docutils but there are also lots

[2020-09-14 12:00] mpusz commented on #568
This is a Modern C++ code using a lot of C++20 features. This causes a lot of issues in all documentation generation tools. Doxygen generates only a few warnings but the quality of produced XML file leaves a lot of room for improvement. Sphinx and Breathe have a lot of issues too.

[2020-09-14 12:02] mpusz commented on #568
Please let me know in case I can help you with anything. The generated documentation can be found here: https://mpusz.github.io/units. In the https://mpusz.github.io/units/usage.html#contributing-or-just-building-all-the-tests-examples-and-documentation chapter there is a detailed instruction on how to compile all the code and documentation.

[2020-09-14 12:32] vermeeren commented on #485
@mpusz A workaround could be to write a wrapper script around the CI scripts that filters out `Warning: Duplicate target detected:` using `grep` or similar. Not a a proper fix but at least avoids build failure.

[2020-09-14 12:33] vermeeren commented on #568
As just posted in #485, this may be useful for those with build failures due to big job logs:

[2020-09-14 14:04] mpusz commented on #485
When I added `-Q` for Sphinx I was able to fit in the logfile limit ;-) It does not mean that the problems are fixed though...

[2020-09-15 01:08] scottamain commented on #328
I'm also experiencing this issue with tagfile links being ignored. I'd love to hear if anybody has a patch or workaround.

[2020-09-15 02:28] yamt opened #578 "breathe_show_enumvalue_initializer"
i want to use something like breathe_show_define_initializer, but for enum values.
the following patch is just to demonstrate what i want to use.
if it's acceptable, i can submit a patch to implement the configuration knob.

    --- sphinxrenderer.py.bak	2020-09-15 11:22:58.000000000 +0900
    +++ sphinxrenderer.py	2020-09-15 11:23:33.000000000 +0900
    @@ -1447,7 +1447,8 @@ class SphinxRenderer:

[2020-09-15 09:41] JamesRandom opened #579 "The contents of the \deprecated tag do not appear in output"
The annotation appears in the XML and doxygen-generated HTML for the function, bit not in the sphinx output generated by breathe.

[2020-09-15 13:48] vermeeren commented on #578
@yamt Good idea, it's definitely ok to add a feature like this! I am actually thinking we should default it to `False` too, just like `breathe_show_define_initializer`, so values are hidden by default. If you can submit patch I will check asap, thanks!

[2020-09-15 13:52] vermeeren commented on #562
Assuming fixed.

[2020-09-15 13:52] #562 closed

[2020-09-15 13:54] vermeeren commented on #515
Assuming this is fixed.

[2020-09-15 13:54] #515 closed

[2020-09-15 23:25] 6r1d opened #580 "Python 3.8.5 renders '**irc.abort**' as invisible: '<strong></strong>'"
Hello. I am copying this issue from Sphinx, since it seems it's related to `Breathe`. Initial issue is located [there](https://github.com/sphinx-doc/sphinx/issues/8173). The project to reproduce the issue is [located here](https://github.com/SwissalpS/sphinxBugIsolation).

Reproduction process is described in the [readme file](https://github.com/SwissalpS/sphinxBugIsolation/blob/master/README.md)

[2020-09-16 06:03] steffenroeber opened #582 "How to fine tune output of doxygenclass::"
Hi,
I'd like to have something like Qt uses for its documentation:
- include header file
- class name
- brief docu
- outlined members
- detailed docu
- detailed members
I tried it like:
[code]
but this gives me warnings like:
`Warning: Duplicate target detected:`
and duplicates output of class name.

Best regards
Steffen

[2020-09-17 14:26] #578 closed

[2020-09-17 14:32] vermeeren commented on #582
@steffenroeber What is the intention effectively? To have a custom defined print order for `doxygenclass` command?

[2020-09-18 05:33] steffenroeber commented on #582
Yes, exactly. I like the style of Qt docu and wanted getting some similar at our project.

[2020-09-18 06:22] 6r1d commented on #580
I forgot to copy @jakobandersen's comment, but it is probably very useful to add here!

    ...
    <briefdescription>
        <para>called from lua by <bold>core.abort</bold>(iNumber) as <bold><ulink url="irc.abort">irc.abort</ulink></bold>(iNumber) </para>
    </briefdescription>
    ...
    <briefdescription>
        <para>called from lua by <bold>core.bort</bold>(iNumber) as <bold>sirc.abort</

[2020-09-18 12:10] kloczek opened #583 "4.21.0: broken tagged and dist tar balls"
In case od https://files.pythonhosted.org/packages/source/b/breathe/breathe-4.21.0.tar.gz there is no `documentation/` and `examples/' directories.
In case if tagged tar ball https://github.com/michaeljones/breathe//archive/v4.21.0/python-breathe-4.21.0.tar.gz looks like some files are missig and sphinx has issue with generate documentation
[code]

[2020-09-18 12:20] vermeeren commented on #583
@kloczek I checked version 4.20.0, 4.8.0 from 2018 and 4.0.0 from 2015 and they are all the same, so this appears intentional.

For every release I run this (which complains a bit about using twine instead), the second command has been in the readme for 4 years or so now.

[code]

I suppose something of the packaging tooling automatically cleans up the source tree during packaging to only retain t

[2020-09-18 12:23] vermeeren commented on #583
@kloczek As for GitHub tarball, from your logs:

[code]

Some of the scripts used to generate documentation probably assume we are always building from the git repo, it likely uses this to fetch version (tag/commit sha) information.

[2020-09-18 12:57] kloczek commented on #583
That message was generated by `sphinx-build -b man -d %{name} documentation/source .` command.
Autogenerated by gitlab/githug tar ball dowloaded from git tag does not contain git metadata.

[2020-09-19 14:45] vermeeren commented on #583
@kloczek To clarify, the documentation building problem from source tarballs is indeed a bug, will label and update title to reflect this. Patches are welcome as usual.

[2020-09-19 14:54] vermeeren commented on #582
@steffenroeber I don't think this is possible currently, there is https://breathe.readthedocs.io/en/latest/directives.html#confval-breathe_order_parameters_first but this is only partial configuration via a bool and not as flexible as needed for such a thing.

Ideally Breathe would gain a configuration setting that allows for fully specified output order. Specifically for `doxygenfile` and `autodo

[2020-09-21 06:43] steffenroeber commented on #582
Ok, sounds reasonable. Thanx

[2020-09-21 15:44] steffenroeber opened #584 "doxygenfunction: Unable to resolve multiple matches for function"
Hi,
I don't get to work resolving the following:
[code]
Doxygen input:
[code]
[code]

I always get:
[code]

[2020-09-21 15:47] #582 closed

[2020-09-22 06:08] #584 closed

[2020-09-22 06:09] steffenroeber commented on #584
After debugging breathe, found a solution

[2020-09-22 16:55] vermeeren commented on #584
@steffenroeber Could you share your solution in case other people encounter the problem too?

[2020-09-25 15:17] msimberg commented on #521
Really sorry about the silence here. The error is indeed gone, thank you! There is a new error which all the way to 4.22.0 (still leaving 4.16.0 as the last working version for us), which I'm quite sure is unrelated but I'll post it here just in case: https://gist.github.com/msimberg/2c55a1bfffedd5d05d11cb533069d4d1. I have not yet dug into what exactly is triggering it. Does that look familiar? I

[2020-09-25 15:23] jakobandersen commented on #521
I looks like it could be https://github.com/sphinx-doc/sphinx/issues/7763, fixed in Sphinx 3.1.

[2020-09-26 16:30] 6r1d commented on #580
I want to determine if it's Doxygen or Breathe itself. I will configure the bug isolation example to work verbosely while launching Doxygen.

[code]

Now, while I'm making an HTML build, I see this log:

[code]

To continue, I want to know how to pass these options manually, so I can install @SwissalpS doxygen version to compare its output to my local Doxygen.

In my case, the Doxygen version is:

[2020-09-26 17:15] svenevs commented on #580
To debug / play with doxygen configs, since as you see I inject quite a bit of stuff there, advise just creating local `Doxyfile` in same directory as `conf.py` with the exact configs, exhale will run it from that directory

[code]

I over-engineered that, so double check your paths are correct, in example above exhale requires `Doxyfile` in `docs` directory and runs it from there too.  Then in `c

[2020-09-26 17:41] 6r1d commented on #580
Thanks a lot, I see a lot of differences in Meld now!
A notable one would be in `namespaceSwissalpS_1_1FooTest_1_1IRC.xml`.

Doxygen 1.8.**13**:

[code]

Doxygen 1.8.**20**:
[code]

At the very least, `ulink` appears. I don't know if it qualifies issue to migrate again, though. :-)

[2020-09-26 19:24] svenevs commented on #580
Ah interesting, very helpful thanks!  Can you share exact `Doxyfile` you were using? My doxygen is old and I didn't even think to look at this x0

I have docs stuff slated for tomorrow, I think to accommodate we will possibly want to either (a) prevent doxygen from emitting ulink (possible new feature?) or more likely (b) teach breathe about ulink and what to do. That may be quite involved though,

[2020-09-26 20:23] 6r1d commented on #580
No problem, [there it is](https://mega.nz/folder/Dkd3zQxZ#on7IaD3jAsecEo0yR5ktlQ/folder/X0UVgQxC), I think I copy-pasted it right from my recent comment. I thought it might be better to share both directories with differently rendered versions, too.

Sounds good, thanks!

[2020-09-28 07:21] msimberg commented on #521
Ah, thanks a lot for that pointer! Will give that a try and report back.

[2020-09-28 11:22] msimberg commented on #521
@jakobandersen Again, that particular error is gone with 3.1.0 but there is more: https://gist.github.com/msimberg/00d99cbf0996ce41fe9a1030d06b4999. Again, if it doesn't look familar I'll look into what's triggering it and open a separate issue. I found a few older issues with a similar assertion firing, but they were all closed as fixed, so I assume this is new.

[2020-09-28 11:45] jakobandersen commented on #521
Indeed, that particular assertion triggers once in a while, but it is basically always a symptom of something going wrong somewhere else. Do you have some example code that triggers the problem?

[2020-09-28 12:47] msimberg commented on #521
Not yet, I'll do some digging :) Thanks!

[2020-09-30 11:27] duncanrhamill opened #586 "Unknown directive type "doxygenindex""
Hi, I've just started using sphinx and breathe and I'm running into a directive issue that's bugging me.

As far as I can tell I've registered breathe with sphinx, but none of the breathe directives are working.

`conf.py`:
[code]

`index.rst`:
[code]

sphinx `make html` output:
[code]

I installed breathe using `pip install breathe`, and am using doxygen 1.8.17. Any help would be appreciated!

[2020-09-30 15:37] vermeeren commented on #586
@duncanrhamill Can you clone the breathe repo and run `make html`? This should dump documentation into `documentation/build/html`. (You may get quite some warnings doing the build, that is normal.)

If that doesn't work, there is likely something wrong with your Python environment/setup. Perhaps check your `PYTHONPATH` or similar. For local pip installations without root (which is recommended) `PY

[2020-09-30 16:47] duncanrhamill commented on #586
Ok so I cloned breathe and built the docs, no problems. I can serve and view them and nothing seems different from the online docs, no "unknown directive type" errors or warnings either.

I did check my `PYTHONPATH`, it wasn't set but after setting it and trying again I'm having the same problems.

[2020-09-30 17:06] vermeeren commented on #586
@duncanrhamill Try removing/commenting all of these in your `conf.py`:

[code]

On a typical setup you only need to add `breathe` to the `extensions` array, as long as your paths etc are all correct. If you still have trouble try to verify that Sphinx is actually using your `conf.py` and not something else. It seems like Breathe is not loaded at all currently.

[2020-09-30 17:19] duncanrhamill commented on #586
No luck, removed them and added a print statement to check that `conf.py` is actually being used, and looks like it is.

I made sphinx more verbose and couldn't see any mention of breathe in the log output, I'm not certain if this is expected but it seems odd to me.

[2020-09-30 17:24] vermeeren commented on #586
@duncanrhamill That's rather confusing then, are you able to share the sources in question? All I can think of at this point is diffing the config files (`vimdiff` or whatever) or perhaps running it with `strace` to see if Breathe's files are being opened at all during the build.

[2020-10-01 21:48] Algo-ryth-mix opened #587 ""C++ declarations inside functions are not supported" crashes breathe"
sphinx returns an empty List of nodes here:
[code]
Line 6816 in sphinx/domains/cpp.py

This crashes breathe since it assumes that there is always at least one node here:
[code]
Line 587 in breathe/renderer/sphinxrenderer.py

I'm experiencing an issue with this here https://github.com/Args-Engine/Args-Engine/actions/runs/283078886
It has been crashing our pipeline for quite some time now, but I jus

[2020-10-02 13:10] steffenroeber opened #588 "Separate member function"
Hi,
is there any way to separate member functions of .. doxygenclass::?
Currently all member functions are rendered without any separation.
I'd like to have something like: https://doc.qt.io/qt-5.9/qcolor.html#setNamedColor
Where a line separates the functions.

Best regards Steffen

[2020-10-02 14:17] vermeeren commented on #588
@steffenroeber I think you can fix this in the Sphinx theme used with some styling, which I think is also the best place to make such modifications.

[2020-10-03 12:22] jakobandersen commented on #587
Thanks for reporting this! I believe the quoted code is correct, but due to other problems it fails. The following reduced example triggers the problem as well:
``test.hpp``:
[code]
``index.rst``:
[code]
The core issue is that the deduction guide is being interpreted as a function by Doxygen/Breathe and thus Sphinx first registers ``A`` as a function (specifically a constructor). Then when ``A::it

[2020-10-03 12:39] Algo-ryth-mix commented on #587
Thanks for taking a look, I found it fishy that sphinx complained about my struct having a declaration inside it and also being a function :), I'll try to guard the CTAD on Monday and see if that improves our ci-situation

[2020-10-05 07:35] steffenroeber commented on #588
Thanx a lot. That works.

[2020-10-05 07:35] #588 closed

[2020-10-06 12:42] Algo-ryth-mix commented on #587
excluding the CTAD from doxygen does indeed get rid of this error (sorry for the late reply)

[2020-10-17 20:29] vermeeren commented on #586
No reply, assuming fixed.

[2020-10-17 20:29] #586 closed

[2020-10-20 15:29] vermeeren opened #591 "Packagers: PGP signing key changes for Breathe >= v4.23.0"
[code]

[2020-10-20 23:34] psifertex commented on #574
Just commenting to add that we were also bitten by this with our codebase and this fix was helpful. I'm still fighting some other errors, but this got be past one of them!

[2020-10-21 00:13] psifertex opened #592 "empty `kind` property causes multiple errors"
Version: Breathe 4.22.1

Doxygen can produce `sectiondefs` like:
[code]
most notably I'm seeing it for https://github.com/Vector35/binaryninja-api/blob/dev/ui/flowgraphwidget.h#L283-L332

As shown in the attached xml on line `3280`
[breathe-repo.zip](https://github.com/michaeljones/breathe/files/5412362/breathe-repo.zip)

There's several places in the code where this falls over. In the meantime, I

[2020-10-21 00:28] psifertex commented on #592
This might be a doxygen bug? I think the sections should actually be:
`<sectiondef kind="signal">`
and
`<sectiondef kind="slot">`

However, it looks like slots are missing from: https://github.com/michaeljones/breathe/blob/0bc9ba73723cb5c1f626c94962a55c56919592da/breathe/renderer/sphinxrenderer.py#L1099

Would a PR be acceptable to add it?

[2020-10-21 09:48] utzig commented on #592
https://github.com/michaeljones/breathe/blob/0bc9ba73723cb5c1f626c94962a55c56919592da/breathe/renderer/sphinxrenderer.py#L1099

There are `public-slots`, `protected-slots` and `private-slots` all are properly declared in `sections`.

[2020-10-21 20:44] psifertex commented on #592
Thanks. Yeah, that works for a workaround. I'm still trying to figure out why my particular doxygen setup created the empty kind in the section.

[2020-10-24 09:20] jakobandersen commented on #574
I don't think the mapping to ``CMacroObject`` is a good idea, it is not a macro declaration.
I guess a "property" is more akin to a member variable? Perhaps Breathe could construct a member declaration and send to Sphinx, and then put an additional annotation on the resulting doctree? Though, from https://doc.qt.io/qt-5/properties.html it looks like there can be quite a number of configuration kno

[2020-10-25 16:48] nveljkovic commented on #523
I can confirm that with newer version of Sphinx (v3.2.1) and Breathe (4.23.0) I do get `struct bdf::[anonymous] [anonymous]`.
It's not ideal but it's a big improvement from `struct bdf::@0 @1`, so I am closing as fixed.

[2020-10-25 16:48] #523 closed

[2020-10-26 14:43] SteffenSeckler commented on #45
Even though this is very old, is there any news on this?
Inheritance diagrams would really help understand our code a lot :)

[2020-11-05 02:59] AngusWooster opened #594 "Warning: Duplicate target detected: struct"
We use shpinx with breath to document our c projects.
In the .rst , I use doxygenstruct to display the same struct documentation in different section.

I got many warning message shown as below.
WARNING: Duplicate ID: "structsec__pal__fun"
WARNING: Duplicate explicit target name: "structsec__pal__fun".

Have any methods to avoid showing those duplicate warning message?

[2020-11-05 03:28] iguessthislldo opened #595 "Parsing Error on typedef that Uses a Macro"
Using Breathe 4.23 and Doxgyen version 1.8.13. Can try with newer version of Doxygen if that matters.

Breathe emits these warnings during the sphinx build:

[code]

[Here is the code in full context if needed](https://github.com/objectcomputing/OpenDDS/blob/a9a20c7e357323e84030942b8fcbd6d4fdd91c76/dds/DCPS/Service_Participant.h#L339)

`OPENDDS_MAP` is defined with `#define OPENDDS_MAP(K, V) std::

[2020-11-05 08:15] jakobandersen commented on #594
Each entity may only be declared once, such that there is one place where all links to it can go.
Depending on your use-case for the alternate location it may be enough to just link back to the primary location with a ``:c:struct:`` role. If you want to show struct members as well I suggest the ``c:alias`` directive (https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#directiv

[2020-11-05 08:24] jakobandersen commented on #595
I don't think Breathe is to blame as it "just" passes the data along to Sphinx.
Neither Breathe nor Sphinx does macro expansion, so Sphinx complains because it's not valid C++.
Without changing code, perhaps you can get Doxygen to expand the macro?
A more robust solution may be to abstract ``OPENDDS_MAP`` using C++ instead of the preprocessor. For example:
[code]

[2020-11-05 11:33] mpusz commented on #485
I moved the CI to GitHub Actions which allowed me to enable all of the warnings again. You can find it here: https://github.com/mpusz/units/runs/1357942287?check_suite_focus=true#step:10:10. I would really appreciate it if we could start working on fixing those together.

[2020-11-05 14:51] vermeeren commented on #485
@mpusz A starting point would be to analyse the error log and determine the cause for each type of error. Then open up feature request or report bug on the project in question (probably either Breathe or Sphinx's C/C++ domain). For example all things `Invalid C++ declaration` I think is missing support for some C++ feature on Sphinx's side. See https://github.com/sphinx-doc/sphinx/blob/3.x/sphinx/

[2020-11-05 14:55] vermeeren commented on #595
@iguessthislldo Indeed handling expansion in Doxygen should fix this, as @jakobandersen suggests. There are a few options available to control how exactly Doxygen behaves.

* https://www.doxygen.nl/manual/preprocessing.html
* https://www.doxygen.nl/manual/config.html#cfg_macro_expansion
* https://www.doxygen.nl/manual/config.html#cfg_expand_only_predef
* https://www.doxygen.nl/manual/config.html#c

[2020-11-05 15:37] utzig commented on #485
I had never used `conan` before but when I run `conan install ...` I get:

[code]

Where does this package come from?

[2020-11-05 16:42] mpusz commented on #485
A few of example applications require linear_algebra package. The whole instruction to compile the code is here: https://mpusz.github.io/units/usage.html#contributing-or-just-building-all-the-tests-examples-and-documentation. TL'DR, just do the following:

[code]

In case of problems with a Conan profile the following might help: https://mpusz.github.io/units/usage.html#conan-quick-intro.

[2020-11-05 19:52] iguessthislldo commented on #595
Although we're trying to reduce macro usage, I don't think I can justify changing code just for this. I'm just exploring Breathe right now and that macro and many like it are being used in many places .

Thanks for pointing me towards the Doxygen config though. Ours had `EXPAND_ONLY_PREDEF = YES` and changing that to `NO` fixed the warnings.

[2020-11-05 19:52] #595 closed

[2020-11-06 04:16] AngusWooster commented on #594
Hi contributor of breathe

I am not familiar with this syntax.
When I use doxygenstruct  in my .rst file like that:
.. doxygenstruct:: sec_pal_fun
   :members: pal_fun1

It can generates the appropriate output and show the information about this function pointer member.

But I try to modify my .rst file like below:
.. c:struct:: sec_pal_fun

    .. c:member:: pal_fun1

It doesn't show the any info

[2020-11-07 11:41] Lucide opened #598 "Cross referencing in brief description"
Doxygen autolink feature doesn't get translated by Breathe, so reStructuredText's [cross references](https://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#ref-role) has to be used instead.
Breathe uses the `\verbatim` command to write rst directly in the code, that, unfortunately, is considered a sectioning command.
Doxygen's `\brief` command [terminates when a sectioning command

[2020-11-07 15:42] markand opened #599 "Different parameter/return rendering from official sphinx"
Hello,

I was planning to use Breathe because I love the sphinx documentation output but I hate doxygen's one. I have plugged in into one of my small pet project and was pretty happy with the result. I've tried it with the popular `sphinx_rtd_theme` and I just saw an issue about the style of parameter/returns that look different than using sphinx official directives.

Example with a small function

[2020-11-09 11:04] Revbr opened #600 "Virtual function documentation using Sphinx"
1. I tried to document a C++ code using Sphinx, breathe and doxygen. The pdf doc generated in doxygen is coming correctly for virtual functions, but the pdf document generated using Sphinx(using doxygen xml) is just showing
void functioname()
instead of
virtual void functionname().

2. what is the doxygen directive for documenting overlaoded functions? I am getting error even after adding the argu

[2020-11-10 06:08] AngusWooster commented on #594
Hi
Thanks for giving the information about  :c:struct:
It seems to documentation of C API instead of showing comment.

In my case, I want to show the comment of each struct members in different section, so  I use doxygenstruct to display them.
Have any idea to avoid WARNING: Duplicate message?

[2020-11-15 19:40] vermeeren commented on #592
@psifertex Is it, at this point, safe to say this was/is a problem in Doxygen or some configuration issue? If so this issue can be closed, unless there is something Breathe can do of course.

[2020-11-15 19:49] vermeeren commented on #594
@AngusWooster Can you try using the `:no-link:` option on all except one of the directives. https://breathe.readthedocs.io/en/latest/directives.html The one directive without the option will become the main declaration which links will point to.

I recall something something fairly recent with potential trouble (or perhaps just hackyness) related to the option. #356 may also be relevant. Still it'

[2020-11-15 19:55] vermeeren commented on #598
@Lucide Do you know if this autolinking by Doxygen in part of the XML of the brief description? In other words, does the XML output contain some form of linkage for `VTStr`?

If this is the case it should be possible to add autolink to Breathe by using the XML data. If it isn't in the XML it's gonna be a lot trickier though.

[2020-11-15 20:01] vermeeren commented on #599
@markand This probably happens because Breathe has its own renderer for many things, mostly because of historical reasons. You can check the renderer code in `breathe/renderer/sphinxrenderer.py`. Functions `visit_docparamlist` and `visit_param` are a starting point.

Matching Sphinx's native style is the goal, so patches are very welcome.

[2020-11-15 20:19] vermeeren commented on #600
@Revbr

1. Can you check if this problem also occurs with HTML output? Is it pure virtual or just virtual? If I check https://breathe.readthedocs.io/en/latest/doxygen.html the `testMeToo` doesn't show up properly with the `virtual` prefix too. Could be this needs to be added in Breathe or in Sphinx C/C++ domain. I do see some logic for adding `virtual` in `breathe/renderer/sphinxrenderer.py`, not

[2020-11-15 20:38] michaeljones commented on #591
@vermeeren - to check, the deploy key email I've just had is from you?

[2020-11-15 20:40] vermeeren commented on #591
@michaeljones Yeah. To check more, the SHA512 of the deploy key itself, including comment at the end is, is `91b23af945b12f1cde4b89fc6bdfbe62232681e4a835a0382ad1373b52bfb5bb434220a165b12f5a033d564f4e0efb9e1d98d095ae34c65358d4b041ce7ccd40`.

[2020-11-15 20:51] michaeljones commented on #591
Thanks for the extra validation. All makes me a little nervous though :)

I'm afraid it errors saying "Key is already in use." Perhaps you've already got it for another project? Only a guess though. I don't know what the actual restrictions are.

[2020-11-15 20:53] vermeeren commented on #591
@michaeljones Added the key to my personal GitHub account earlier to make sure things are set up properly. Indeed that would cause conflict, I just removed it. Can you try again?

[2020-11-15 20:56] michaeljones commented on #591
Done!

[2020-11-15 21:13] vermeeren commented on #591
@michaeljones Confirmed it works nicely over here, thanks again!

[2020-11-16 23:23] psifertex commented on #592
I'm not entirely sure honestly, I never did finish running it down but rather switched my config. I'll go ahead and close it for now and re-open it if I go back and get any more info. Thanks.

[2020-11-16 23:23] #592 closed

[2020-11-25 01:58] AngusWooster commented on #594
Hi
Thanks for giving me this information.
It can fix some issues.
It eliminates WARNING: Duplicate ID: "structsec__pal__fun". and WARNING: Duplicate explicit target name: "structsec__pal__fun".

But it still show   WARNING: Duplicate C++ declaration. .... Declaration is '.. cpp:struct:: sec_pal_fun'.
In my document, I use .. doxygenstruct:: to point a same struct name.
The .rst file Looks like bel

[2020-11-25 15:23] vermeeren commented on #594
@AngusWooster Unfortunately I don't know of a further solution, it has been some time since many improvements were made with the duplicate declarations but it still is not perfect. Ideally each directive on a specific target is only used once.

For a practical workaround I can only suggest using some `grep -v '^WARNING: Duplicate'` kind of thing in your `make doc` pipeline, so it filters out these

[2020-11-25 16:41] jakobandersen commented on #594
As mentioned previously, there can be only one declaration of any entity, e.g., of ``sec_pal_fun``. So you may/should only have one instance of ``.. doxygenstruct:: sec_pal_fun``, which Breathe translates to ``.. c:struct:: sec_pal_fun`` or ``.. cpp:struct:: sec_pal_fun`` (plus content) depending on the language configuration.
The ``no-link`` option is translated to the ``noindex`` option in Sphin

[2020-11-26 14:22] faresVS opened #601 "Retrieve doxygen C++ comments for all classes/structs/methods and save key/value pairs in text (rest or md)"
I have a C++ library. Some of it is exported as python bindings (using pybind11). I would like the comments of the C++ classes to be used as docstrings for the python bindings. This seems like a common and basic use-case, but I couldn't find any clear and simple solution to do that automatically. If you know of something which could do this automatically, please feel free to share a link.

The wor

[2020-11-26 17:10] vermeeren commented on #601
@faresVS Have you checked this page https://breathe.readthedocs.io/en/latest/codeguide.html , it contains details about how Breathe work and also talks about the XML parsing. This might be of use to you.

[2020-11-27 17:14] faresVS commented on #601
Hello @vermeeren

Thank you for the link to the doc. Yes I have read that, and yes it seems Breathe can do what I need. But it is still not very clear how to do it.
Maybe we can work out a very simple example.

Lets say I have a very simple project composed of 3 files:

1. dummy_a.h

[code]

2. dummy_b.h

[code]

3. main.cpp

[code]

I generate a Doxygen config file by calling  `doxygen -g`
I edit

[2020-11-27 19:11] jakobandersen commented on #601
I have almost the exact same situation, but unfortunately no good solution that doesn't rely on manual work and/or haxy scripts.

This is actually not the case. The ``sphinxrenderer`` in Breathe directly produces docutils nodes, i.e., the internal representation that Sphinx works on and manipulates, before it is converted into whatever output format.

[2020-11-30 02:49] AngusWooster commented on #594
Hi
I am very very appreciated you guys getting back to me.

In my C header file, there is a C structure and its members are function pointers.
It may look like this.

<syntaxhighlight lang="c">
/**
 * @brief This struct defines all security PAL interfaces
 */

typedef struct sec_pal_fun {
    /** @name Initialization and exit*/
    /**
    *   @brief Security functions initialization.
    *
    *

[2020-11-30 02:59] AngusWooster commented on #594
I am sorry, I am unfamiliar with the syntax.
Now I understand each entity can only be declared once,  I was thinking that  I want to show the show other doxygen comment of other members of a same c structure in different section.
Filters out Duplicate warnings, that would be a nice way for a workaround.

Thanks you :  )

[2020-12-03 22:11] utzig commented on #258
This was implemented by #596.  To import the todo.xml just use `.. doxygenpage:: todo`. More documentation: https://breathe.readthedocs.io/en/latest/directives.html#doxygenpage

[2020-12-03 22:11] utzig commented on #395
This was implemented by #596.  To import the todo.xml just use `.. doxygenpage:: todo`. More documentation: https://breathe.readthedocs.io/en/latest/directives.html#doxygenpage

[2020-12-03 22:17] #258 closed

[2020-12-03 22:17] utzig commented on #437
Yes we're using it and it works now.

[2020-12-03 22:20] vermeeren commented on #395
Indeed not entirely sure of the "page" here is the same as the xrefitem-based page the breathe `doxygenpage` directive now handles. Needs further investigation.

[2020-12-03 22:23] vermeeren commented on #437
@utzig Thanks for the update.

[2020-12-03 22:23] #437 closed

[2020-12-03 22:23] utzig commented on #400
Commits 14f9581ab7bf8fc6797757cf5addfd31a127c8f2 and fca973205e4fa670cabd0e16ffff86984cce5e36 added some support for parsing `\anchor` at least under some specific circumstance (in the `kind="page"` blocks). Should be straight-forward to update the code to parse them in the more general settings. Also I thought I had used `\ref` successfully already, but I may be wrong. I will double check those.

[2020-12-03 22:53] utzig commented on #579
This was implemented by #596. To import the deprecated.xml (generated from `\deprecated` commands) just use ``.. doxygenpage:: deprecated``. More documentation: https://breathe.readthedocs.io/en/latest/directives.html#doxygenpage

[2020-12-03 22:54] #579 closed

[2020-12-03 23:38] #372 closed

[2020-12-05 22:01] Kaffeine commented on #574
Hello. I would like to use `breathe` for various Qt-based projects and probably you can expect more users because the Qt documentation tool (`qdoc`) became virtually unusable for anything except the Qt itself (there is a lot of difficulties, e.g. [this one](https://bugreports.qt.io/browse/QTBUG-74676)).

A class is expected to get a new section "Properties" ([example](
https://doc.qt.io/qt-5/qquic

[2020-12-07 11:27] utzig commented on #400
I just tested `\ref` and `'\anchor` together and they are working now.

[2020-12-07 15:31] t-b commented on #400
@utzig Nice! Is that in v4.24.1 or do I need the git version for that?

[2020-12-07 15:34] JohanMabille commented on #584
@steffenroeber I ould be interested in your solution, I'm facing the same kind of issue.

[2020-12-07 15:38] JohanMabille opened #604 "Regression: Unable to resolve multiple matches for function"
The following C++ code:

[code]

combined with

[code]

does not generate the documentation but emits the following warning instead:

[code]

This behavior appeared with Breathe 4.17.0, everything works as expected with Breathe 4.16.0

[2020-12-07 16:07] utzig commented on #400
v4.24.1

[2020-12-07 22:46] #400 closed

[2020-12-08 01:39] #594 closed

[2020-12-09 14:26] chausner-audeering commented on #378
I am running into the same issue. I am already using :no-link: to avoid link target conflicts but it would also be nice to get rid of the "WARNING: Duplicate C++ declaration" warning. The :no-index: workaround that @rowanG077 mentioned does not seem to be applicable without modifying Breathe, right?

[2020-12-09 15:17] jakobandersen commented on #378
See also https://github.com/michaeljones/breathe/issues/594#issuecomment-733820197: the ``:no-link:`` option may do something on the Breathe side (I forgot), but on the Sphinx side it has been broken for a long time, and has now been removed (for the C and C++ domains).
How to resolve the problem depends a lot on what you are trying to achieve in your documentation. Sometimes the ``alias`` directi

[2020-12-14 10:44] kloczek opened #607 "4.24.1: issue with generating documentation"
Looks like some files are missing in dist file
[code]

[2020-12-15 12:48] vermeeren commented on #607
@kloczek Is this from a `pip` installed Breathe? I believe the pip package strips out a bunch of unneeded things since forever, so certain Breathe development things may not work. This would also occur with older Breathe versions, is this a new bug?

[2020-12-15 14:43] kloczek commented on #607
No it is out of autogenerated by github tagged tar ball.

[2020-12-15 14:44] kloczek commented on #607
I've noticed the same issue about two months agi but I've forgot to open ticket.

[2020-12-15 15:43] #289 closed

[2020-12-15 15:43] #604 closed

[2020-12-15 16:28] vermeeren commented on #604
Fix released in Breathe 4.25.0.

[2020-12-15 16:28] vermeeren commented on #289
Fix released in Breathe 4.25.0, let me know if there are any issues still.

[2020-12-15 16:29] jakobandersen commented on #289
Note, this is technically not fully resolved, but it may be best to open another issue targeted towards the missing pieces, with examples.

[2020-12-15 16:31] vermeeren commented on #504
@jfolz The `Unable to resolve multiple matches for function` should be a lot better with #606, released in Breathe 4.25.0.

However the `Duplicate declaration` warning likely still exists as before, as there haven't be real changes there afaik.

[2020-12-15 16:35] vermeeren commented on #529
The PR #605 mentioned this issue, and #606 provided a more proper fix for parsing function signatures. I am not entirely sure how or if this issue actually relates to that though. #535 is also posted above, so perhaps this issue should already be considered closed?

@lgritz Could you give it another try with the just released Breathe 4.25.0 and share thoughts?

[2020-12-15 17:15] FFroehlich opened #608 "Broken doc build after upgrading to 4.25.0"
https://github.com/AMICI-dev/AMICI/pull/1364/checks?check_run_id=1558544601

Looks like the issue was introduced in

https://github.com/michaeljones/breathe/commit/b4fc12990a7c738d109dc279d1560b82f0d694e0

[2020-12-15 17:34] jakobandersen commented on #608
I couldn't immediately find a way to test on your project, but I'm reasonably sure that #609 fixes it. If possible, can you confirm?

[2020-12-15 17:34] vermeeren commented on #608
I was typing up a reply and doing some research, but I notice @jakobandersen already pushed a speedy PR by the time I was finished. Will await further news.

[2020-12-15 17:46] vermeeren commented on #607
@kloczek Steps to reproduce? I just downloaded the tarball for 4.25.0 and did a `make html` which worked fine.

[2020-12-15 18:43] mattip commented on #608
Might be nice to add a test for this. @FFroehlich could you capture the doxygen XML fragment of the `memberdef` with `...`?

[2020-12-15 19:10] kloczek commented on #607
[code]

[2020-12-15 19:16] FFroehlich commented on #608
Can confirm #609 fixes this.

This is the xml that was generated by breathe:
[code]

From what I can tell, `spline`, `spline_pos`, `Dspline`, `Dspline_pos`, `DDspline` and `DDspline_pos` all cause this issue.

[2020-12-15 22:39] FFroehlich commented on #608
This is the relevant c++ code:

https://github.com/AMICI-dev/AMICI/blob/a5c679b0cce90e192bacf9461d43825de8f675ce/src/symbolic_functions.cpp#L263

[2020-12-15 23:44] vermeeren commented on #607
@kloczek Doing that means Doxygen never runs, which means the Doxygen-generated XML files used by Breathe don't exist, so this makes perfect sense. You'd have to run Doxygen manually before running it that way, or use `make html` target to run Doxygen for you.

The same applies to any project using Breathe, the Doxygen-generated XML is required to function properly.

[2020-12-16 13:24] #608 closed

[2020-12-16 13:32] vermeeren commented on #608
Just made a quick bugfix release containing the fix in Breathe 4.25.1, thanks for all the info.

I agree having a regression test for this is a good thing to have, should be possible to do this easily by editing the existing `test_render_func` in `tests/test_renderer.py` at https://github.com/michaeljones/breathe/blob/master/tests/test_renderer.py#L284 or adding another case similar to that one. N

[2020-12-20 17:01] AkibAzmain opened #611 "Sphinx fails when dealing with complex templates"
I'm developing a template rich library. For generating documentation I use Breathe and Exhale (both latest). My library has a function like this:

[code]

By parsing Doxygen output, Exhale generates the following directive which is perfectly valid:

[code]

But when I try to generate documentations, I get the following error:

[code]

Generated traceback file by Sphinx:

[code]

[2020-12-24 15:30] dbermond opened #612 "[Request] Sphinx 3.4.x support"
The sphinx requirement is currently listed as `Sphinx<3.4,>=3.0`.

Adding support for Sphinx 3.4.x would be greatly appreciated.

[2020-12-25 02:00] Grace-Li-cam opened #613 "(C++) Errors when parsing friend functions in a class"
Hi, I have got this error:

In a class I defined some friend functions:
[code]

Doxygen generated XML correctly.

![image](https://user-images.githubusercontent.com/76575256/103114342-21721f80-4699-11eb-8ba7-dd8d9efc90f9.png)

In the corresponding rst:
[code]

But when running ./makelatexpdf.sh to generate PDF, the follow information is returned:

WARNING: doxygenfunction: Cannot find function "mm

[2020-12-29 15:40] inconstxpr opened #614 "doxygenfile directive causes duplicate IDs for sections that were not specified."
# Behavior
I'm using the `doxygenfile` directive to display only the brief and detailed file description, like this:
[code]

I don't want the other sections, so after that, I go on to grouping functions under subheaders:
[code]

However, every use of `doxygenfunction` causes a "Duplicate ID", "Duplicate explicit target name" and "Duplicate C declaration", pointing to the `doxygenfile` line. When t

[2021-01-01 06:23] awsteiner commented on #613
If I may, what version of doxygen are you using? I'm having some friend problems with doxygen 1.9 and I'm curious if you're having a similar problem.

[2021-01-03 02:26] inconstxpr commented on #614
Just added `:no-link:`, still having the same problems.

[2021-01-03 20:50] zyp opened #616 "AssertionError in visit_friendclass"
Hi, I'm getting an AssertionError in visit_friendclass:

[code]

I checked the value of `typ` before the assertion and it reads simply `class`. Adding the following two lines to prepend `friend` if not already present appears to solve/work around the problem:

[code]

* Sphinx 3.4.1
* Breathe 4.25.1
* Doxygen 1.9.0

Here's a simple example to reproduce the problem: [breathe_friend_error_test.tar.g

[2021-01-03 20:53] zyp commented on #616
Are you having the same problem as me? My problem looks unrelated to #613.

[2021-01-03 22:14] awsteiner commented on #616
Yes I am indeed exactly having the same problem. It appeared when I upgraded doxygen, but I wasn't sure if it was a sphinx issue, a breathe issue, or a doxygen issue. I just used the preprocessor to make sure doxygen ignored the friend declarations, but I'll see if I can try your solution this week some time...

[2021-01-05 03:29] Grace-Li-cam commented on #613
I am using doxygen 1.8.18. What doxygen version would you recommend to use?

[2021-01-05 03:46] awsteiner commented on #613
I have no recommendation myself, I was just trying to see if anyone had the same issue I was having, but now I think that my issue is the same as #616 and thus different than this issue.

[2021-01-06 04:01] Grace-Li-cam commented on #613
The friend functions can be parsed correctly if using ".. doxygenindex::". But all the functions cannot be included in the table of contents in the generated PDF. Is there a way to include them in the table of contents?

[2021-01-06 10:02] Grace-Li-cam commented on #613
Doxygen generates the XML correctly. I am wondering if the problem is from Doxygen?

[2021-01-07 15:37] jakobandersen commented on #616
The assert is a sanity check so while the suggested change may work it doesn't feel like the right fix. Unfortunately I can't reproduce the problem locally. Can you upload an archive of the XML folder?

[2021-01-07 15:48] zyp commented on #616
Sure, here you go:

[doxygen_xml.tar.gz](https://github.com/michaeljones/breathe/files/5782565/doxygen_xml.tar.gz)

[2021-01-07 18:24] jakobandersen commented on #616
I messed up my Doxygen compilation and it is indeed a problem starting from Doxygen 1.9. Apparently the XML output has changed. See PR #618 for the diff for your example.

[2021-01-07 21:22] vermeeren commented on #611
@AkibAzmain At a glance I believe this is an issue over at the Sphinx side, where Breathe eventually forwards things to. Could you report it over there and add a reference to this issue?

[2021-01-07 22:44] vermeeren commented on #614
@inconstxpr It still shows the main function/thing name prior to the `briefdescription` and `detaileddescription` if I remember correctly, this means the function itself is declared anyway.

I don't know a quick fix for this except declaring it only once or enforcing the order of declarations via RST, which is I admit rather ugly. Perhaps some other issues have some other useful information, dupli

[2021-01-07 22:50] vermeeren commented on #613
@Grace-Li-cam It should work with Breathe, but I remember the syntax for specifying the signature can be odd sometimes requiring perfect input or it may fail to find the function.

Can you try:

[code]

This should complain about it being ambiguous, showing the available outputs in the warning/error output I believe. That should reveal the exact syntax needed. This is all from memory, so I could b

[2021-01-07 22:58] #607 closed

[2021-01-08 00:08] #612 closed

[2021-01-08 00:08] #616 closed

[2021-01-08 12:10] sekargovindarajan opened #619 "Doxygen \mainpage is not showing up"
Hi, First of all thank you for this amazing tool.

I see that indexpage.xml containing \mainpage is being generated by Doxygen. I was expecting that sphinx would render this through breathe, but it does NOT. Should I do something special to capture the contents of \mainpage?

Thanks.

[2021-01-08 13:46] jakobandersen commented on #611
I tried copying the original declaration from your C++ code
[code]
and that works with Sphinx, so I think there is a problem somewhere in the Exhale/Breathe translation.
From your error output it looks like Sphinx is trying to parse
[code]
which is obviously missing a lot of the original declaration.

Do you have a not-too-large example project where you observe the error, that you can share?

[2021-01-08 14:39] svenevs commented on #619
Added comment on the exhale issue https://github.com/svenevs/exhale/issues/100#issuecomment-756786806 it seems like it's more appropriate to solve with exhale or discourage usage of `\mainpage` in lieu of transcribing to a custom `.rst` doc in sphinx.

It has some potential overlap here with either `.. doxygenindex::` and what to do about `\ref index` when encountered in breathe e.g. from a class

[2021-01-08 14:43] inconstxpr commented on #614
@vermeeren You mean `doxygenfile` shows the functions or file name? It doesn't for me, this:
[code]
Turns into the following:
![image](https://user-images.githubusercontent.com/55115875/104019935-29eb4f80-519b-11eb-8a9e-c54bca4aee8f.png)
Which is why I found it quite strange that generates declarations for everything.

Changing the order does "fix" the issue, since then the `doxigenfunction` direc

[2021-01-08 18:51] sekargovindarajan commented on #619
I realized my misunderstanding after I posted the issue. As @svenevs points out, and I have confirmed, the XML file for main page is getting generated, and this issue can be handled by exhale, if at all.

So, I am closing the issue.

[2021-01-08 18:51] #619 closed

[2021-01-08 22:55] vermeeren commented on #614
@inconstxpr If that's the only output from the directive then I remembered wrong, in that case it doesn't make sense for Breathe to declare it. I guess the section logic runs rather late during rendering, at which point things are already declared. I lack the time to dive into this myself currently, you may want to check #501 to investigate.

[2021-01-12 03:06] inconstxpr commented on #614
@vermeeren I'm afraid I can't find anything on #501 that looks like a possible cause. I hope someone runs into this and manages to catch something I'm missing.

[2021-01-12 20:38] AlexandreFoley opened #620 "Descriptions not visible."
I tried to setup doxygen+breathe+sphinx following this [tutorial](https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/).

It seems to almost work. The only one (rather big) problem: none of the documentation string shows up in the resulting sphinx website.

I took a glance at doxygen's generated XML: the information is present, although i have

[2021-01-12 20:54] vermeeren commented on #620
@AlexandreFoley Looks like you are passing `:outline:` to all the directives, from documentation https://breathe.readthedocs.io/en/latest/directives.html

Can you try removing that flag?

[2021-01-12 20:58] AlexandreFoley commented on #620
lol, I thought I had tried that.

That was the problem. Wihtout the :outline: directive I get the ouput I desired. Thank you.

[2021-01-12 21:58] inconstxpr commented on #614
@vermeeren I want to try and take a look, but I would appreciate some pointers if possible.

I'm trying to generate an executable so I can test my local changes on my Doxygen XML, so I'm doing:
[code]

But in doing so, my local changes don't seem to matter. Am I missing something?

[2021-01-12 22:22] #620 closed

[2021-01-12 22:25] vermeeren commented on #614
@inconstxpr build and install should not be needed. What I usually run during development is, from the root of the breathe project :

[code]

That way it uses breathe from the git repo directly. I am not sure how to set environment variables of Windows, but doing that should do the trick too.

[2021-01-16 16:14] awsteiner opened #621 "Use breathe to convert doxygen docs to rst"
Thank you for breathe. Whew!

Normally, AFAIK, breathe uses the doxygen XML output to generate HTML, and one can use, e.g. doxygenfunction directive to generate the HTML documentation for a particular function. Is there a way to configure breathe to generate rst output instead, so that I can manually edit the rst source and then regenerate the documentation?

[2021-01-16 16:20] jakobandersen commented on #621
Not at this time, Breathe directly produces Docutils nodes that Sphinx then renders to output formats, e.g., HTML.
Perhaps some of the edits can be done by Breathe with extra options to the directives. Do you have some specific edit schemes in mind?

[2021-01-16 20:45] awsteiner commented on #621
No thank you. I was just experimenting with different ways to update my documentation workflow.

[2021-01-16 20:45] #621 closed

[2021-01-21 00:24] #613 closed

[2021-01-21 00:24] #614 closed

[2021-01-21 00:34] vermeeren commented on #614
Just released v4.26.1 containing the fix.

[2021-01-21 00:34] vermeeren commented on #613
Just released v4.26.1 containing the fix.

[2021-01-22 09:26] paulgessinger opened #624 "Parser bug in 4.26.1"
Hi, we're using sphinx+breathe for our project at acts-project/acts, acts.readthedocs.org.

With the recent changes in `4.26.1` we get an exception during our doc build, where the parser seems to choke on something that was fine before. Here's an excerpt from our log:

[code]

The code it appears to choke on is the SFINAE construct [here](https://github.com/acts-project/acts/blob/3af34d99de9fa7278

[2021-01-22 10:16] jakobandersen commented on #624
Can you make the full traceback available? and potentially a minimal example that reproduces the problem?
It looks quite similar to #611, in that something is going wrong with a ``decltype``. Doxygen/Breathe does not send the correct full declaration to Sphinx, which rightfully rejects it. From a very brief try to reproduce it (unsuccessfully) the Doxygen XML looks reasonable.
In any case, Breathe

[2021-01-22 10:19] paulgessinger commented on #624
The full traceback is here: https://github.com/acts-project/acts/runs/1740565809

It does look very similar, you're right.
Getting a minimal example is a bit complicated since our code is relatively tangled up.

Could you have a look at the traceback and see if that provides context, and if not I'll try to strip out and try to make a standalone example, ok?

[2021-01-22 10:40] jakobandersen commented on #624
Sorry but the traceback is not there. It's in the described ``/tmp/`` file. Otherwise you can invoke ``sphinx-build`` with ``-v``, then the traceback is inlined in the console output.
I did notice some other warnings/errors in the log, so if you can provide instructions on how to compile the docs from the repo I may be able to investigate locally at some point.

[2021-01-22 10:50] paulgessinger commented on #624
Sorry, then I misunderstood, what you meant. Traceback is here: [traceback.log](https://github.com/michaeljones/breathe/files/5855274/traceback.log)

As for building the docs, we have some instructions [here](https://acts.readthedocs.io/en/latest/getting_started.html#building-the-documentation).

tl;dr:
- Check out the repo (note that we locked breathe to `4.26.0` now, so you'll want to check out

[2021-01-25 21:47] Lucide commented on #546
Hi, I'm another random breathe user that ended up here in the same way!
I just wanted to say, I'm not aware of any existing alternative to the doxygen+breathe+sphinx toolchain for generating html documentation of C/C++ projects.
If we ended up here, it means that Doxygen's own html generator was so inadequate that we had to embark on a journey to find a decent alternative, despite having to learn

[2021-01-25 21:57] Lucide commented on #598
I was waiting to get some time to investigate, but in the meantime I've seen the similar situations referenced and in already existing issues: #400, #438. (even with potential workarounds). I'm closing this one.👍

[2021-01-25 21:57] #598 closed

[2021-01-25 22:15] Lucide opened #625 "Macro references to C unions members aren't clickable after rebuild"
<sup>A bit of a mouthful!</sup>
Till now I've been referring to C unions member using the `:macro:` role, es:
*a.h*
[code]
*b.rst*
[code]
That works, or at least I thought so, because from the second rebuild onwards, the references become not clickable anymore (no link, but properly formatted).
I have to clear the html output folder to get them to be generated correctly again. I guess that goes fi

[2021-01-27 03:42] samuel-emrys commented on #45
Also very interested in this, @michaeljones do you have any plans to further develop the solution on the `doxygendiagram` branch? If so, have you had any additional thoughts with respect to how you'd like this feature implemented? I might be able to provide some dev effort if you can provide some details about your vision for implementation. I agree with @vermeeren , a minimal or suboptimal implem

[2021-01-28 00:44] YannickJadoul commented on #624
I seem to have bumped into a very similar issue (in pybind/pybind11#2828), when documenting the following function template:

[code]

Here's the log: [sphinx-err-sv5d3kwm.log](https://github.com/michaeljones/breathe/files/5884010/sphinx-err-sv5d3kwm.log)

[2021-01-28 00:51] fizzyade opened #626 "Qt Signals & Slots"
I'm trying to generate documentation using doxygen, sphinx and breathe.  When it parses the XML documentation, I get errors like:

`/Users/adriancarpenter/Documents/Development/pingnoo/docs/sphinx/documentation.rst:5: WARNING: Error when parsing function declaration.
If the function has no return type:
  Error in declarator or parameters-and-qualifiers
  Invalid C++ declaration: Expecting "(" in p

[2021-01-28 00:53] YannickJadoul opened #627 "Unable to resolve friend function and implementation"
I might be doing something wrong, but could it be that the changes from #623 (related to #613) have made forward declarations of friend functions ambiguous?

Our code (in pybind/pybind11#2828) looks something like this:

[code]

When I don't wrap the two `friend` forward declarations in a `#ifdef DOXYGEN_SHOULD_SKIP_THIS`, breathe comes complaining as follows:

[code]

I bumped the version from 4.

[2021-01-28 12:16] vermeeren commented on #627
@YannickJadoul Can you post the RST in question? You should be able to make it work by specifying the arguments explicitly, the checks for this have gotten more strict in #623 as you have noticed.

[2021-01-28 12:19] vermeeren commented on #626
@fizzyade You should post your C++ and RST code so I can check further. Also code block uses triple backticks ```` ``` ````.

Recently there was something related to Qt signals in #592, there is seemed like a Doxygen issue, possibly misconfiguration somehow. As far as I know signals and slots should work properly with Breathe. I don't have any experience with them though, so I cannot advise furthe

[2021-01-28 13:43] YannickJadoul commented on #627
@vermeeren Sure! It's just a simple

[code]

I've also tried `reinterpret_borrow(handle)` or `reinterpret_borrow(handle h)`, but this gives the same issue.

`.. doxygenfunction:: friend reinterpret_borrow(handle)` would select the wrong version (as that one is the forward declaration that doesn't contain the documentation), but doesn't work anyway:

[code]

[2021-01-28 15:57] YannickJadoul commented on #627
I've made a minimal example. That should hopefully make things easier for you than a vague description.

[code]

[code]

Here's the full minimal working example zipped, which should hopefully just show the error when running `make html`: [mwe.zip](https://github.com/michaeljones/breathe/files/5888420/mwe.zip)

PS: I had to also wrap `foo` in a namespace, or the function wouldn't be found. Is this

[2021-01-28 17:13] fizzyade commented on #626
Literally all you have to do is instead of having a class defined like:

[code]

you define it like this:

[code]

Breathe throws the following error.  It's reproducible by taking the example Qt class in the breathe repo and just replacing the signals:/slots: with Q_SIGNAL or Q_SLOT on each signal/slot (or just one, as soon as it comes across this format of slot/signal definition it fails.

It loo

[2021-01-28 17:21] jakobandersen commented on #627
I think this is a real issue, but a long-standing one that got exposed by the ``friend`` fixes. But I don't think it is easy to fix.
The fundamental problem is that a friend function in class scope may sometimes be just an instruction to consider the function a friend, but sometimes it may the a declaration of a function only visible through ADL, which in some sense makes it tighter coupled with t

[2021-01-28 17:28] jakobandersen commented on #626
The error is actually from Sphinx because there is no macro substitution. However, in this case the ``Q_SLOT`` macro is basically acting as an attribute, so if you in ``conf.py`` inserts ``cpp_id_attributes = ["Q_SLOT"]`` it should parse.
(https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-cpp_id_attributes)

[2021-01-28 17:51] YannickJadoul commented on #627
Sure, definitely! This fails in the same way (i.e., `Unable to resolve function "bar" with arguments None in doxygen xml output for project "mwe" from directory: _build/doxygenxml/.`). I hadn't really realized, but I agree that the lack of `mwe` in the `Foo::bar` declaration is fishy as well!

[code]

---

The reason I added the namespace in the first place is because of another error without it.

[2021-01-28 17:54] YannickJadoul commented on #627
I appreciate this is a hairy problem, by the way! No rush from my part, as I've work around it with a well-placed `DOXYGEN_SHOULD_SKIP_THIS`, but I thought I should report this.

If there's anything I can do, do let me know!

[2021-01-28 18:29] fizzyade commented on #626
Thanks for the reply. I will talk a look!

I’ll let you know how I get on, but thanks for the quick response and pointer, it's much appreciated.

This is the first time I've used sphinx or breathe or RTD, so it's a bit of a learning curve!
On 28 Jan 2021, 17:28 +0000, Jakob Lykke Andersen <notifications@github.com>, wrote:

[2021-01-28 20:08] jakobandersen commented on #625
I don't think I can reproduce the problem, but some notes:
- You can pass ``-n`` to ``sphinx-build`` you perhaps get extra warnings when things can not be cross-referenced.
- ``primary_domain`` is a Sphinx setting, which as you say makes it possible to write ``:macro:`` instead of ``:c:macro:``. But that does not influence how Breathe interprets the Doxygen XML. So if Breathe sees the XML as C++,

[2021-01-28 20:59] jakobandersen commented on #504
@jfolz, I couldn't immediately build the docs, and I'm unsure which issues are left here. Can you provide an update?

[2021-01-28 21:00] Lucide commented on #625
I have no idea why I didn't go with `enum` the first time. You are right, it's better. You made valid points, I forgot to mention that I'm indeed using `breathe_domain_by_extension`:
[code]
I remember I hat to do set that manually. The `breathe_debug_trace_directives` shows all c correctly.
Unfortunately, the same thing happens with the `enum` role. I can't tell if it's a breathe problem tho, look

[2021-01-29 10:24] fizzyade commented on #626
Ok many thanks, that solved that issue, but now I've hit another one (I'm guessing it's also sphinx so feel free to tell me to go ask them about it - I just figured asking here with regards to the "Q_" macros that if somebody else hits the same issue then the solution will all be in one place )

Q_PROPERTY

This is causing the following error:

[code]

[2021-01-29 14:32] jakobandersen commented on #626
Nice. The ``Q_PROPERTY`` issue superficially looks similar to #574.

[2021-01-29 14:37] fizzyade commented on #626
Ha.  They did the same fix as me, adding property as a macro does at least allow the parsing to complete.

I guess this is the answer for now!

[2021-01-29 14:54] fizzyade commented on #574
I just came across this problem myself and "solved" it in exactly the same way, although obviously the documentation is not correct because it can't generate the relevant documentation, but it does at least parse.

[2021-01-29 18:12] Lucide commented on #625
Oh I didn't even know there was a difference, I should've taken a better look at the trace directive output.
Yeah, unfortunately the output is the same. To be fair, the latest breathe release `v4.26.1` completely broke function parsing (`restrict` might be the issue), so I'm sticking with a `v4.26.0` workflow for now. I will be back with a mre in the future when Uni pressure subsides, thank you!

[2021-01-31 02:31] vermeeren commented on #626
I think the original problem has been solved with the `cpp_id_atributes` option, closing this one as the remainder is already tracked in #574. Thanks!

[2021-01-31 02:31] #626 closed

[2021-02-02 08:56] RobertoRoos commented on #217
Committing some necromancy here. I can't figure out how to use Breathe for PHP. I can't find it mentioned on https://breathe.readthedocs.io either.

I've created the following example repo: https://github.com/RobertoRoos/PHP-Breathe-Demo

When trying to build the docs I get the error:

Is Breathe for PHP supposed to still be functional?
Thanks in advance.

[2021-02-02 14:35] vermeeren commented on #217
@RobertoRoos Back when PHP support was merged no tests or documentation were included, so it's very possible changes in the past years may have caused regressions. It is still more or less supported though maintainer/developer time is very scarce, patches are very welcome and will be handled.

A lot of the code sort of assumes C/C++ so the chance is very high all that is needed to make it work is

[2021-02-02 14:44] RobertoRoos commented on #217
Thank you for your reply!
I see, I might have a look to see if I can get anything out it.

I would much like this to work, considering the unique power ReadTheDocs as continuous documentation.

[2021-02-02 16:05] vermeeren commented on #600
The first point was just resolved thanks to #628. Since I never received a reply to the second point I will assume that is resolved too as it seems somewhat support-y.

Closing this for now.

[2021-02-02 16:05] #600 closed

[2021-02-02 18:01] ollehu opened #629 "Html tables are not rendered in Sphinx"
Hi,

HTML tables, for example
`<table cellspacing= 20><tr><th>First String</th><th>Second String</th></tr><tr><td>Hello</td><td>there</td></tr></table>"`,
are properly generated in the Doxygen HTML output - but not at all in the Sphinx output.

I am more than happy to implement this, but I can not manage to get Breathe to read the table-node from the XML (and yes, the table is present in the xml-o

[2021-02-02 18:53] RobertoRoos opened #631 "Breathe throws assertion error when building docs for PHP source (through Doxygen XML)"
Originally posted as a comment on #217.

Trying to build from PHP (e.g. https://github.com/RobertoRoos/PHP-Breathe-Demo) throws an assertion error:

I took the liberty of opening a new issue. It seems the issue was actually quite specific.

[2021-02-02 18:55] RobertoRoos commented on #631
Since the almost three years since Breathe-for-PHP was merged, the handling of doc objects has changed. The PHP objects missed relation to a `BaseObject`, as the error suggests.

Suggested fix in #630

[2021-02-02 20:43] utzig commented on #629
A big coincidence but I found this out today while importing some Doxygen documentation into a project. I think I'll do a bit of work on it... I'll let you know if I make any progress.

[2021-02-03 06:17] ollehu commented on #629
@utzig Sounds great, let me know if I can help.

[2021-02-04 01:11] utzig commented on #395
Yeah, yesterday I found out that `\section` is not supported. `\section` is only valid inside a `\page` and `\page` has only been supported since #596, so this was not a problem before, but I happen to have bumped into the same issue yesterday (as well as `\table` support), so I will probably implement this.

I am quite sure it is now! ;-)

[2021-02-04 09:48] kakenbok commented on #217
[code]

seems to be working

[2021-02-04 16:30] #631 closed

[2021-02-04 18:20] RobertoRoos commented on #217
Yeah, same here. It seems only the doxygenfile directive was broken. Thank you for pointing it out.
Regardless, the new pull request should be good addition.

[2021-02-05 03:22] Tucker11 opened #633 "C++ #define 's not showing their initialised values"
I'm trying to use breathe, doxygen and sphinx to document a c++ project, and it all seems to be working fine except for displaying the initialised value of the #define statement. It displays the name and description fine, but leaves out the initialised value. Looking at the generated doxygen html, it displays correctly. The generated xml also has the initialised value.

So it looks like my problem

[2021-02-05 16:16] vermeeren commented on #633
@Tucker11 Did you check https://breathe.readthedocs.io/en/latest/directives.html#confval-breathe_show_define_initializer?

[2021-02-05 22:47] Tucker11 commented on #633
I hadn’t come across this page.
Thank you

[2021-02-05 22:47] #633 closed

[2021-02-08 09:09] tdegeus opened #634 "Supress duplicate declaration warning"
Hi! Great work on the library!!

I have a question. I want to have two sections in my docs, one which gives the details per function, and one which gives just an overview. E.g. I would like to have

[code]

But this gives me
[code]

Is there any way to avoid such a warning

[2021-02-08 09:40] jakobandersen commented on #634
These Breathe directives declares the entities through the underlying Sphinx directives, and as the warning suggests, this should only be done once. For C and C++ I believe the ``no-link`` option does nothing (we should looks at getting it removed/redocumented/something).
Instead, you can use the Sphinx directive ``cpp:alias`` and ``c:alias`` (https://www.sphinx-doc.org/en/master/usage/restructure

[2021-02-09 08:36] kakenbok commented on #217
I also tried to use breathe with PHP, and I run into troubles in form of missing return types and stuff, and I got them running while downgrading breathe to 4.26.0 ... I suppose the recent development has been more focused on python or c language constructs and this seems to break with PHP. Since I also look for a JavaScript solution (and cannot find), I decided to not to try to autogen code docum

[2021-02-10 10:18] ropg opened #636 "Feature request: Option to generate output for individual member groups"
Hi. Thank you. Breathe is amazing!

I have a project for which functionality for the classes people actually use is inherited from a number of different classes. The structure of that is not necessarily relevant to people just wanting to use the derived class. In my documentation, I follow a narrative that is focussed on what users are trying to do, which doesn't always match how these classes are

[2021-02-10 13:45] vermeeren commented on #636
@RobertoRoos This is a nice idea, thanks. As an enhancement however the chance is high this will only be implemented soon if you or someone else (could be sponsored) provides the patches for it. Development time is unfortunately rather scarce and this is unlikely to change in the near future.

Still there is a potential workaround with the `:project:` option. You can let Doxygen run multiple times

[2021-02-11 12:23] ropg commented on #636
Alright: PR #637 for code and documentation changes filed. I would appreciate someone with better understanding of breathe and sphinx to have a look at adding the one missing bit that would make it way way more useful though. See the PR for details. Closing this issue so discussion can continue there.

[2021-02-11 12:23] #636 closed

[2021-02-13 14:26] vermeeren commented on #383
Closing as not relevant currently, see the above.

[2021-02-13 14:26] #383 closed

[2021-02-13 15:57] #395 closed

[2021-02-13 15:57] #629 closed

[2021-02-15 14:01] vermeeren opened #641 "Allow space-separated option arguments for arguments currently requiring comma"
Originated from https://github.com/michaeljones/breathe/pull/637#discussion_r576195124.

For example the `:members:` option of `doxygenclass` can be provided to specify members to render.

In `breathe/renderer/filter.py` one can find:

[code]

* Determine which arguments currently require a comma.
* Allow such arguments to also be split upon spaces.
* Update documentation where needed.

We cannot

[2021-02-17 20:40] mquinson commented on #611
I was hit by a similar problem, where breathe fails to find the right overload when I have function signatures in my template parameters. I found a workaround by hiding this part from doxygen. Here is how I implemented that workaround:
[code]

With this workaround, it works when I add this to my rst file:
[code]

Without the workaround, the same RST line produces the following error. The overload

[2021-02-17 23:29] mquinson opened #643 "Declarations in super class should be made available in subclasses"
Hello,

I would like to document in a subclass methods that are defined in a super-class, but breathe complains that the method cannot be found in the XML.

For example, given the following C++ code:
[code]

I would like the following RST excerpts to work:
[code]

This should be changed to
[code]

[2021-02-18 00:48] vermeeren commented on #643
@mquinson Do you mean `doxygenfunction`, there is no `doxygenmethod` in Breathe.

Could you check the Doxygen XML? Maybe you need to set `INLINE_INHERITED_MEMB = YES` in your doxygen configuration. https://www.doxygen.nl/manual/config.html#cfg_inline_inherited_memb

[2021-02-18 07:19] mquinson commented on #643
Yes and yes. Yes there was a typo in my RST example, and yes I'm unable to read the Doxygen documentation :(

Sorry for the noise, and thanks for this great tool.
Mt

[2021-02-18 07:19] #643 closed

[2021-02-22 11:37] tomaskrizek opened #646 "IndexError when generating toctree"
Commit 9f2c660324773029fdbc1e587a9aeaa17d75bc1a introduced some issue/behavior change that results in failed doc builds. I don't understand breathe/doxygen sufficiently to be able to provide a minimal reproducer, but I can reproduce this issue 100 % of time when building [Knot Resolver](https://gitlab.nic.cz/knot/knot-resolver/-/blob/master/scripts/make-doc.sh#L17) docs.

Here's the traceback I ge

[2021-02-23 13:46] gmarull opened #648 "Out of order rendering in pages"
It looks like some content renders out of order on pages, e.g.

[code]

renders as:

![image](https://user-images.githubusercontent.com/25011557/108852242-a324f180-75e5-11eb-9cbc-87c089e607a3.png)

[2021-02-26 16:55] cmshuang opened #649 "Pip Install Failure"
Hello,

I get the following error when I run `pip install breathe`.
[code]
Please advise. Thank you!

[2021-02-26 17:25] cmshuang commented on #649
Realized my system default python version was 2.7--works just fine when I changed it to 3.6, sorry!

[2021-02-26 17:25] #649 closed

[2021-02-26 18:27] mbruno-xmos opened #650 "Section headings like ‘Functions’ are missing from the :content-only: display"
I ran into this issue when using :content-only: for displaying the contents of a Doxygen group. I wanted it simply to remove the group description, as the text above it in my rst file describes it. I saw that this issue is also noted here with the note that an issue should be posted on GitHub:
https://breathe.readthedocs.io/en/latest/group.html#content-only-example

So here it is.

Thanks

[2021-03-03 18:36] wintersteiger opened #652 "Spurious error with function pointer as template argument"
**Describe the bug**

For this:

    /// @brief A template class
    template <void (*F)()>
    class C {};

Sphinx complains thusly:

    | [(DefinitionError('Invalid C++ declaration: Expected "," or ">". [error at 19]\n  template<void(*)() F> C\n  -------------------^'), 'If no parameter')]
    |/data/cwinter/breathe/source/index.rst:11: WARNING: Error in template parameter list.
    Invalid C++

[2021-03-04 18:06] ropg opened #653 "Comma out of place in functions that take function pointers as arguments"
I have a function that is prototyped as follows:

[code]

Doxygen has no problems and renders:

![Screenshot 2021-03-04 at 18 37 21](https://user-images.githubusercontent.com/343196/110005389-b4be7580-7d18-11eb-8b33-f0b0716a3937.png)

But when I do:

[code]

in breathe (4.27.0) with sphinx 3.5.1, it renders:

![Screenshot 2021-03-04 at 18 40 17](https://user-images.githubusercontent.com/343196/110

[2021-03-04 19:18] ropg commented on #653
This may well be be connected to issue #652, just based on that also having to do with function pointers as arguments.

[2021-03-04 19:30] jakobandersen commented on #653
Thanks for reporting. It turns out this is a Sphinx issue, so I have opened sphinx-doc/sphinx#8960.

[2021-03-04 19:32] jakobandersen commented on #652
This is quite an icky bug. The XML for ``C`` is
[code]
I don't see a generic way of getting the parameter name ``F`` in the correct part of the type ``void (*)()`` without parsing the type, in the general case.
I suggest using the Sphinx C++ parser to get the AST to assemble the paramter the right way.

[2021-03-04 19:37] ropg commented on #653
Thank you... I'll close it here then...

[2021-03-04 19:37] #653 closed

[2021-03-05 14:52] sekargovindarajan commented on #574
I also solved the same issue with the same temporary fix as @MrKepzie

[2021-03-05 15:47] arwedus opened #654 "Provide support"
Hello,

first of all thanks for this awesome extension to Sphinx.

I would like to set a namespace like with the `.. cpp:namespace:: my_namespace` directive.

Example.h

[code]

index.rst:
[code]

Now, this throws an error in my case.

Use case: I use the manual selection of the classes I actually want to have in the documentation exclusively (for "autogenindex" I could have also used Doxygen ;-))

[2021-03-05 17:22] jakobandersen commented on #654
I'm not sure there is any functionality to do what you would like at the moment.
There are two entities in play here:
- the current scope of the C++ domain in Sphinx. The ``cpp`` directives modifies this one.
- how Breathe performs lookup in the Doxygen XML. They may be a way to prepend a namespace here, but I don't remember seeing it.

Breathe doesn't read the C++ domain scope and uses it for any

[2021-03-05 19:45] arwedus commented on #654
@jakobandersen , I second your suggestion. Something like this would work just fine:

[code]

[2021-03-05 19:49] jakobandersen commented on #654
Indeed, except in the second example Sphinx would not declare ``my_namespace::Foo`` but just ``Foo``, so a ``.. cpp:namespace:: my_namespace`` is needed in addition to the ``doxygenprefix``.

[2021-03-09 12:24] RazailaAlexandra opened #655 "Data/return type concatenated to variables/function name"
Hello!
I tried to generate documentation file for a C++ project using breathe, but on the .html page the returned type is concatenated to the function name and so are the type of parameters and their name.
Version used: Breathe=4.27.0, Sphinx=3.5.1, Python=3.6.7, Doxygen=1.9.1
Here is a short example:
![docFunc](https://user-images.githubusercontent.com/49149499/110463165-3d069700-80da-11eb-8df1-1

[2021-03-09 13:05] jakobandersen commented on #655
There are two other spaces missing in the declaration as well, rather annoying. I have previously seen this issue, but only with the readthedocs theme. It seems like they have an open issue with this readthedocs/sphinx_rtd_theme#694.

[2021-03-09 13:29] RazailaAlexandra commented on #655
Thank you for your answer.
Do you know about any workaround for this issue?

[2021-03-11 03:45] Grace-Li-cam opened #656 "Missed space in the parameter declaration"
Hello!

Our C++ function looks something like this:

`Object *CreateObject(std::vector<ObjectDataInterface *> object_data);`

When I run the following command to generate PDF doc, the error occurred:

`.. doxygenfunction:: CreateObject(std::vector<ObjectDataInterface *> object_data)`

It can only work if I remove the space between **ObjectDataInterface** and **\***. That is:

`.. doxygenfunction::

[2021-03-11 08:17] jakobandersen commented on #656
Do you have the error message for when the space is there? and preferably a minimum working example to reproduce the problem?

[2021-03-11 12:43] wintersteiger commented on #652
Yes, I think it's impossible to do this without parsing the type. I'm not familiar with the Sphinx C++ parser - is that in some way configurable by the end-user or would this require changes to the parser implementation?

[2021-03-11 21:45] intelkevinputnam opened #657 "Add an id to the rubric created for object types in groups"
Groups use rubrics to create sections for each object type: functions, enums, etc. There is currently no way to reference them to create an internal table of contents, for instance. I'd like to add an id to each to one like: `breathe-section-title-functions` in order to be able to create an internal table of contents for groups that have a large number of objects. I plan to use anonymous refs to m

[2021-03-12 13:49] NikolayLetov opened #659 "Undefined order of doxygen tags in out."
This comment from doxygen:
[code]
will translate in this html:

[code]
As a result tags printing in wrong order.
Is there any option to print tags in that order which they are set in doxygen comment?

[2021-03-16 10:03] Grace-Li-cam commented on #656
error message:
[code]

working sample:

`/*!
 * @brief Creates an instance of Object with single input and it's pointed
 * by an Object pointer.
 *
 * @param[in] object_data Object data interface.
 *
 */
Object *CreateIObject (ObjectDataInterface *object_data);
/*!
 * @brief Creates an instance of Object with multiple input and it's pointed
 * by an Object pointer.
 *
 * @param[in] object_data Obj

[2021-03-17 17:59] Hirrolot commented on #38
So briefly, how can I generate a TOC for each header file?

[2021-03-18 04:49] xuhongxu96 opened #660 "Missing Getter and Setter in C# Property"
Per #550, C# has been supported. But the getters and setters cannot be parsed normally now, e.g.:
[code]

Getters and setters are missing in the declaration signature:

https://github.com/michaeljones/breathe/blob/4ce8c7a0d79f79f0ae3e7c7fbaa9c4fbb5c84888/breathe/renderer/sphinxrenderer.py#L1839-L1855

`argsstring` is empty. We should consider `node.settable` and `node.gettable` to construct `{ get

[2021-03-20 22:28] wsnyder opened #662 "C++ documentation with no undocumented members?"
I'm a new breathe user, so perhaps this is documented, but the closest I could find was #183.

I'm trying to suppress undocumented defines (etc) from Doxygen into Breathe (into Sphinx into HTML), but they are landing in my HTML regardless of my attempts.

My .rst file for now is just this:

     .. doxygenindex::

Note I am/need to run doxygen standalone, not with your auto call.

Being a bit fami

[2021-03-21 19:07] nilsleiffischer opened #663 "Parens in return type template are dropped"
This C++ function is not parsed correctly by Breathe:

[code]

This is the error message:

[code]

I created a minimal working example here:

https://github.com/nilsleiffischer/sphinx-bugs/tree/master/issue_breathe_templates

This is my environment:

- Python 3.8.6
- Breathe (breathe-apidoc) 4.27.0
- sphinx-build 3.5.3
- Doxygen 1.8.17

[2021-03-22 06:21] Amaya-aisi opened #664 "Error: Expected identifier in nested name"
### Problem
I use ```extention=['breathe','exhale']``` and during programming it reports this error
I find the error is this line
[code]
a,b,c,d,12345 is just replaced the real name because it is a private code. Breathe seems cannot support this kind of function?

### Env info
 breathe ==4.27.0
 exhale == 0.2.3

[2021-03-22 08:43] jakobandersen commented on #664
You need to specify the function parameters for the overload you would like to insert documentation for. That is, ``"12345"`` should be a type instead of an expression.

[2021-03-22 08:54] Amaya-aisi commented on #664
Cool. Are there any methods in Exhale or Sphinx, or do I need to change my code?

[2021-03-22 09:22] jakobandersen commented on #664
I'm not exactly sure what you mean, and my knowledge of Exhale is rather limited.
If you want to document a function manually, use the Sphinx directive ``cpp:function``.
If you want to document a function semi-automatically by insert documentation from Doxygen-generated XML, use the Breathe directive ``doxygenfunction``.
If you want to typeset an expression or type you can use the Sphinx role ``cp

[2021-03-23 03:18] Amaya-aisi commented on #664
Thank you so much. I didn't make it clear. What I mean is how to fix this line and make it can compile, because Sphinx will report an error and stop running because of it. Or Is there any way that Sphinx can bypass this error or could explain this kind of code? I have a lot of lines in my code, and it would be cumbersome to change them manually.

[2021-03-23 15:22] Zephilinox commented on #328
I was hoping to use this for cppreference https://en.cppreference.com/w/File:cppreference-doxygen-web.tag.xml :(

[2021-03-23 15:52] jakobandersen commented on #328
I think it may be beneficial to split this into two/three parts:
- Make Sphinx it self, through intersphinx or a separate extension, parse tag files and use them as fallback for looking up references. Is there a specification for tag files somewhere?
  Reusing the intersphinx machinery may be best in the long run, though currently it doesn't work well with complex C++ (sphinx-doc/sphinx#8929).
- M

[2021-03-26 17:15] jakobandersen commented on #655
As discussed in https://github.com/michaeljones/breathe/pull/628, this issue seems to accidentally be resolved (for C++) if https://github.com/sphinx-doc/sphinx/pull/9023 gets merged.

[2021-03-27 14:13] michaeljones commented on #546
I have recently talked to a company using Breathe and they felt like it was a crucial project for their industry. I would be interested in exploring setting up funding and support around Breathe. I will attempt to restart my research into such a set up and would be very interested to hear from anyone that is keen to be involved or to fund the project.

[2021-03-29 00:40] #646 closed

[2021-03-29 01:02] #648 closed

[2021-03-29 01:37] #657 closed

[2021-03-29 02:12] vermeeren commented on #591
Commit 8004da9a7761f9060707dcf39bea1f5f79907a14 removes the notice from the README as it's been up for approx half a year, so I also consider it time to unpin this issue and close it.

[2021-03-29 02:12] #591 closed

[2021-03-29 02:24] vermeeren commented on #650
@mbruno-xmos Hi, I checked and this was last changed in 2014 by 4380bf06 back when @michaeljones was actively developing Breathe (though that may change again, see #546). Patches are very welcome to add this, but current priorities of (very scarce) development time lie elsewhere.

[2021-03-29 02:31] vermeeren commented on #655
Going to close this one at the Breathe side in an attempt to tidy up the issue tracker a bit, thanks for upstream work as always @jakobandersen !

[2021-03-29 02:31] #655 closed

[2021-03-29 02:35] vermeeren commented on #659
@NikolayLetov In your given example it appears the output order matches the input order, am I missing something? Or is the provided output the desired output, and not the current output?

[2021-03-29 02:36] vermeeren commented on #38
@Hirrolot See the comment above yours, https://github.com/michaeljones/breathe/issues/38#issuecomment-391434474.

[2021-03-29 02:54] vermeeren commented on #662
@wsnyder I don't think there is an easy way to do what you want, indeed #183 is relevant and at the time in https://github.com/michaeljones/breathe/issues/183#issuecomment-394186143 I considered this to be potentially a Doxygen bug, as settings should (and usually do) also effect XML output. If it is not yet reported on the Doxygen side as a bug, perhaps we would give that a shot and see what thei

[2021-03-29 02:57] vermeeren commented on #663
@nilsleiffischer I am fairly sure this error is over at the Sphinx, to be specific in Sphinx's C/C++ domain, see https://github.com/sphinx-doc/sphinx/blob/3.x/sphinx/util/cfamily.py#L285. Can you verify this based upon the full traceback?

[2021-03-29 03:00] vermeeren commented on #664
@Amaya-aisi I think at the minimum we would need more information and a reproducible example would very much help out. If the code is private creating a mock-up should be fine. Without function signature details, backtraces and a reproduction case there isn't much we can do.

[2021-03-29 03:04] vermeeren commented on #546
@michaeljones More patches are always a good thing one way or the other, so this is good news. I'll keep an eye on progress with the research, hopefully something sustainable can be arranged for.

[2021-03-29 03:37] svenevs commented on #546
Seconded :slightly_smiling_face:  I think companies would be happy to sponsor this project in some way especially if it can be done in a tax friendly way?  But I also think individuals would like to have a way to just send a (individually determined size) "tip" as a thank you for keeping this project alive.  FWIW I've been watching this for a while, I'd love some kind of anchor to link to.  If you

[2021-03-29 08:27] nilsleiffischer commented on #663
@vermeeren I might be misinterpreting this, but here's why I determined the issue is in Breathe, not in Sphinx: I added this commit https://github.com/nilsleiffischer/sphinx-bugs/commit/698e3b2689eafc0b3061f8921c336e00a081f0fe to the minimal working example https://github.com/nilsleiffischer/sphinx-bugs/tree/master/issue_breathe_templates. It shows that Sphinx manages to parse this snippet fine:

[2021-03-29 08:52] jakobandersen commented on #663
Actually, I think this is a Doxygen issue. We would need to check the XML to be sure, but it looks very similar to #624 and #611, as ``decltype`` is involved in all three cases.

[2021-03-29 12:51] nilsleiffischer commented on #663
@jakobandersen Yes I think you're right! I filed the issue here: https://github.com/doxygen/doxygen/issues/8465

[2021-03-29 18:00] #660 closed

[2021-03-29 18:05] vermeeren commented on #624
From https://github.com/michaeljones/breathe/issues/663#issuecomment-809351599, this might be (partially) fixed with doxygen/doxygen#8465.

[2021-03-29 18:05] vermeeren commented on #611
From https://github.com/michaeljones/breathe/issues/663#issuecomment-809351599, this might be (partially) fixed with doxygen/doxygen#8465.

[2021-03-29 22:57] vermeeren opened #665 "Remove HTML only for table examples documentation"
**This issue is to be handled after Debian bullseye becomes stable.**

#642 implemented several improvements to table rendering, which causes LaTeX errors with `Doxygen <= 1.8.18`. As a result, current documentation contains `.. only:: html` for table examples in `documentation/source/tables.rst` to avoid triggering the issue.

Debian bullseye contains `Doxygen >= 1.9.1`, which doesn't contain the

[2021-03-30 11:29] franuz opened #666 "Doxygen \p command results in newline"
I have a doxygen comment block preceding a function declaration, that looks like this:
[code]
In the output, there is an unexpected newline , caused by the first \p.

[2021-03-31 02:09] #664 closed

[2021-03-31 13:50] mloskot commented on #546
@svenevs

This is an important aspect.

It's become common for open source projects to get fiscal services via https://numfocus.org or https://opencollective.com
For example, https://gdal.org is a FOSS project with very long history and long time member of https://www.osgeo.org, and it's been observed the OSGeo Foundation is not able to offer such services in order to make it fiscally attractive f

[2021-04-01 08:14] Andrei1Byte opened #667 "Overview/list of functions in a file"
Hello,

I'm generating a documentation using Breathe=4.27.0, Sphinx=3.5.1, Python=3.6.7 and Doxygen=1.9.1.

My files are documented using Doxygen tags, and I'm able to generate a documentation in the readthedocs theme. But I would like to have a list of all the functions from a file at the beginning of the page, where I can click and redirect me to that specific function from the page.

Something

[2021-04-01 09:02] jakobandersen commented on #667
I think the ``autosummary`` directive is only for Python, and unfortunately I don't think there is a fully automatic way of doing this yet.
But, with some manual work you can use the [``c:alias``](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#directive-c-alias)/[``cpp:alias``](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#directive-cpp-alias) d

[2021-04-01 09:24] Andrei1Byte commented on #667
@jakobandersen so what you "recommend" is to manually add this stuff in the .rst file ?

I'm asking this because I have files with 500+ APIs, and adding this manually will be a pain :(

[2021-04-01 09:49] jakobandersen commented on #667
Well, it's what I know of that can be (theoretically) done :-).
For making this fully automatic, do you have an example of how your rst looks like now? to figure out which directives should be enhanced, and how.

[2021-04-02 16:37] #599 closed

[2021-04-05 09:58] Andrei1Byte commented on #667
Hello @jakobandersen ,

I can't add my "original" project as is confidential, but I replicated the same work flow in a mini C project.

You can find in the .zip file the entire project.

[GenerateDocumentationForCFiles.zip](https://github.com/michaeljones/breathe/files/6257394/GenerateDocumentationForCFiles.zip)

The .rst files from _docs/api_ are created manually (just to put the file name and pr

[2021-04-08 21:27] neel opened #671 "IndexError: list index out of range on sphinxrenderer.py rst_node = nodes[1]"
#308 (marked close) reappeared.

Sphinx giving the following error and not generating the HTML output

[code]

Reference issue: https://github.com/sphinx-doc/sphinx/issues/9070

[2021-04-09 09:09] jakobandersen commented on #671
This is definitely a bug, and #672 should fix it. Though, the reason for it to trigger is icky:
In the output you should have the message
[code]
If you in ``conf.py`` insert ``breathe_debug_trace_directives = True`` you can see the declarations that Breathe generates and runs in Sphinx.
The problem is that in ``includes/dhyara/packets/chunk.h`` you have a class ``dhyara::packets::chunk::header``,

[2021-04-09 18:06] #671 closed

[2021-04-09 22:17] gmarull opened #673 "Breathe 4.29.0 fails when using [in] parameter attribute on Doxygen"
It looks like the latest release of Breathe, 4.29.0 fails to build Doxygen documentation containing the `[in]` parameter attribute.

Example file causing build problems (it did not before):
https://github.com/zephyrproject-rtos/zephyr/blob/master/include/debug/coredump.h#L210

Ref.
https://github.com/zephyrproject-rtos/zephyr/pull/34181/checks?check_run_id=2309412465

[2021-04-09 22:30] StrikerRUS opened #674 "Regression in v4.29.0: Unparseable C cross-reference: '[out]'"
Hi!

The following code

[code]

[code]

results in error

[code]

`breathe` config:
[code]

Doxygen invocation:
[code]

Full reproducible project:
https://github.com/microsoft/LightGBM/tree/master/docs

Restricting `breathe` version: `breathe<4.29` allows to generate docs without any issues.

[2021-04-09 22:34] StrikerRUS commented on #674
Huh, when was creating the issue, I didn't see #673.

Accoring to [Doxygen `\param` reference](https://www.doxygen.nl/manual/commands.html#cmdparam), there could be also `[in,out]` attribute, btw.

[2021-04-12 16:43] CareF commented on #673
I'm having the same issue

[2021-04-12 22:12] utzig commented on #673
Quite a weird one, considering that Doxygen directions like `[in]`, `[out]` are not even in the output XML, or are not supposed to be.

[2021-04-13 06:57] jakobandersen commented on #673
This is due to #670 where the parameters are now interpreted by Sphinx instead of being literal text. Though, I completely forgot about the parameter directions. I think I'm close to a fix.

[2021-04-13 19:24] jakobandersen commented on #673
PR posted (#675).

[2021-04-13 19:26] jakobandersen commented on #673
It is indeed strange. It looks like the XML parser/converter in Breathe at some point creates those. In the AST in the renderer, they are already formatted like this.

[2021-04-15 10:31] JamesRandom commented on #399
The latest update to https://github.com/doxygen/doxygen/issues/2405#issuecomment-820277374 suggests this is a feature, not a bug, in doxygen. So it should be up to breathe to control whether the private members are displayed or not. In the meantime, I might have to try pre-processing the XML before passing it to breathe

[2021-04-16 04:55] Andrei1Byte commented on #667
@jakobandersen  any news regarding this topic?

P.S: I tried to use alias, but I can't manage to get them working...

[2021-04-16 10:56] hellgheast opened #677 "How to select between multiples functions having the same name"
Hello,
I would like to know how I should proceed to select a specific function to be shown using ..doxygenfunction directive for the following case:
suppose we got

`void func(int arg)`
in file folder_1/a.c and folder_2/a.c

how should I proceed to select specifically the function definition from a given file.
Ideally it should have this form.

.. doxygenfunction func
   :source-path: folder_1
or

[2021-04-16 11:22] hellgheast commented on #388
Is there any concrete solution for this issue ? Or manual editing is still required ?

[2021-04-18 07:43] jakobandersen commented on #388
I think it would be nice with more elaboration on what is missing.
Including source code can be done in many ways, and people use Breathe/Sphinx in many different ways. A condensed example of what should happen in which cases would help.

[2021-04-18 07:47] jakobandersen commented on #677
If I remember correctly, then such duplicates must be in separate 'projects'. In ``conf.py`` you can then add these separate projects via ``breathe_projects``. For the ``doxygenfunction`` directive you can then give the option ``:project: someProject``, to narrow the XML search to that particular project.

[2021-04-18 08:12] jakobandersen commented on #667
### The manual approach
- To ``api/functions.rst`` (or anywhere really) you can add:
[code]
  which should do I understand you want. Though
  - The docs indicate it's C, but Breathe thinks it's C++, so use ``c:alias`` if/when you make Breathe see it as C.
  - There seems to be a initialisation bug in the C++ domain in Sphinx ("KeyError: 'cpp:parent_key'") when placing the alias before the function

[2021-04-18 08:14] jakobandersen commented on #667
Btw. this overlaps in some aspects with #321.

[2021-04-18 12:31] jakobandersen commented on #656
There was a problem with this kind of white space at some point, but it should no longer be present. I can't reproduce with the current master branch, which version are you using?
Though, I did find a different whitespace problem (see #679).

[2021-04-18 15:04] jakobandersen commented on #667
(The ``KeyError`` bug should be fixed in Sphinx v4, to be released soon)

[2021-04-19 20:52] JamesRandom opened #680 "Creating cross-ref targets in doxygen text"
Is there a way of generating a target to arbitrary text in the Doxygen comment that can be linked to by `:ref:`?

A common use case is a class or function that has an `options` parameter: the description includes a list of option values. I would like to link to that list from elsewhere in the documentation.

For example, I would like to be able to link to the "Engine creation options" line, in the

[2021-04-20 09:28] hellgheast commented on #677
okey !
Thank you very much.

Solution is then : adopt multiples doxygen projects which each of them having a specific xml folder output and modify the conf.py to be able to select the correct xml through the breath project directive.

[2021-04-20 09:28] #677 closed

[2021-04-20 18:02] jakobandersen commented on #680
I don't think there is a good solution for that at the moment for the general case.
Doxygen has the [``\anchor``](https://www.doxygen.nl/manual/commands.html#cmdanchor) and [``\ref``](https://www.doxygen.nl/manual/commands.html#cmdref) commands which Breathe translates. But I'm not sure how to use a raw ``:ref:`` in rst to point to the anchor. It also seems that the anchor name is prefixed interna

[2021-04-21 08:42] JamesRandom commented on #680
Thanks for the tip. I ended up using `<a id="anchor_name"></a>` as that worked with `:ref:` (using `\anchor` doesn't for some reason) and is less decorated (the anchor becomes `_1anchor_name`).

[2021-04-21 08:42] #680 closed

[2021-04-22 19:21] vermeeren commented on #674
I will consider this a duplicate of #673, will make a release after checking all pending issue and patches today.

[2021-04-22 19:21] #674 closed

[2021-04-22 19:49] #673 closed

[2021-04-23 00:40] #666 closed

[2021-04-23 01:34] #652 closed

[2021-04-23 06:16] Andrei1Byte commented on #667
Hi @jakobandersen ,

Thanks a lot for your response!

I tried the alias stuff, as you said it only  works if I place it below, if not I have that _KeyError_.

One thing that I observed, is that the functions are placed one after another, instead of each function on a new line, like this:
![image](https://user-images.githubusercontent.com/33694446/115826391-848b7d00-a413-11eb-8563-7ae6ae9d6c52.png)

[2021-04-23 07:11] jakobandersen commented on #667
They should be on individual lines. I think this may be a theme issue. Which HTML theme are you using?

[2021-04-23 07:51] Andrei1Byte commented on #667
@jakobandersen  I'm using **sphinx-rtd-theme==0.5.2**

With a workaround for this issue: #655  : In "..Lib\site-packages\sphinx_rtd_theme\static\css\theme.css" the part with "dt{display:table" is replaced with "dt{display:inline-block".

[2021-04-23 08:07] jakobandersen commented on #667
I would say this is a bug in the sphinx-rtd-theme then. The alias entries are rendered using the same mechanism as normal declarations, e.g., as
[code]
It is thus not specific to C or C++, but to all Sphinx declarations.

[2021-04-23 08:10] Andrei1Byte commented on #667
@jakobandersen ok, thanks.

The I suppose I have to make an issue for this in the sphinx-rtd-theme  repo. Do you work also in that area? I saw that you have some contribution on sphinx.

[2021-04-23 08:26] Andrei1Byte commented on #667
@jakobandersen I just tested without the workaround that I added to fix #655 , and it looks like this:

![image](https://user-images.githubusercontent.com/33694446/115842279-55cad200-a426-11eb-8b98-9169cde289ad.png)

It seems that is because I modified the CSS to have the functions displayed correctly, with space between return type and function name, and so one like described in #655

[2021-04-23 10:21] fabratu opened #683 "Exception with latest breathe version"
Hi,

we use breathe in our project ([NetworKit](https://github.com/networkit/networkit)) to generate the documentation website. As of today (breathe version v4.29.1) the process fails with an assertion-error.

[code]

Log from Github Actions: https://github.com/networkit/networkit/runs/2417500904#step:4:6624

We install breathe and all other components ([link to environment](https://github.com/net

[2021-04-23 11:37] vermeeren commented on #683
It seems like we hit the TODO from #675, see https://github.com/michaeljones/breathe/pull/675/files#diff-a325f86dbe6ccb9b9da00b730c7880d89cce7f5668023958e444fcaf80c0f6e0R2070

@fabratu Is it possible for you to provide the traceback? Either the file generated by CICD, or by adding `-T` to the `sphinx-build` command so it dumps the traceback to stdout. Probably `-T` is easiest adding it here https:

[2021-04-23 12:06] fabratu commented on #683
No problem. Added `-T`: https://github.com/fabratu/networkit/runs/2419355915?check_suite_focus=true#step:4:6646

[2021-04-23 14:41] jakobandersen commented on #683
Damn, I tried to be careful when checking the XML structure. This assertion should be relaxed to a warning that something will look wrong.
To fix it we need to dig into the Doxygen XML and see what is going on for this case.
Is there a way to get to a state were we can just run ``doxygen`` and ``sphinx-build`` for your project? I tried just running ``.github/workflows/scripts/documentation.sh`` bu

[2021-04-23 18:44] jakobandersen commented on #667
That looks more reasonable, except for the space issue. Though, as noted in https://github.com/michaeljones/breathe/issues/655#issuecomment-808387732, if you switch to Sphinx v4 (currently in beta), the space issue is incidentally fixed due to some other rendering changes in the C and C++ domains.

[2021-04-24 15:32] wsnyder commented on #662
I started down the path of having a script filter the XML which was going OK, but I ended up not deploying any breathe documentation for now.  So think I'm all set for now.

[2021-04-24 15:32] #662 closed

[2021-04-26 05:38] hellgheast commented on #388
For me it would be the following way:

* When using a breathe directive you could use an additional option called
  :show-source:

It would automatically be added after the return parameters of the doxygen documented function in the form of a clickable link that would unfold and show the source code of the given function.
One issue that could happen is the parsing of the source code for syntax hig

[2021-04-26 10:58] Geddih opened #684 "Doxygen retval comment output different in 4.28 and 4.29"
Hi, I'm using Breathe to generate user documentation for an embedded C application.
Sphinx=3.5.4, Python=3.9.4, Doxygen=1.9.1, TexLive 2021.

I've noted that Breathe outputs the following retval Doxygen comments differently in 4.28 and 4.29

[code]

The exported Doxygen XML is:

[code]

The PDF outputs are:

Breathe 4.28 (which looks correct to me)

[code]

Breathe 4.29

[code]

I also tried 4.29.

[2021-04-26 11:04] Andrei1Byte commented on #413
@vermeeren I just encountered the same problem in my code. I'm using S`phinx==3.5.4, sphinx-rtd-theme==0.5.2 and  breathe==4.27.0.`

I the doxyfile I have defined in ALIASES some tags with table format. In the generated HTML/CHM of the doxygen the table is shown pretty nice, but is seams that Breathe/Sphinx is not processing that part.

I founded this post [https://stackoverflow.com/questions/5109

[2021-04-26 13:36] vermeeren commented on #684
@Geddih There were some rendering changes with #670, so the layout changing is more or less expected.

What is of course not expected is the duplicate with `Discovery status` and `MAX_EVENTS`. Could you also test with HTML output? Because it did not duplicate with Breathe docs I am thinking it might be PDF output specific. That'll help to determine where to look.

[2021-04-26 14:06] jakobandersen commented on #684
Do you have example for reproduction?

[2021-04-26 14:16] Geddih commented on #684
I'll put a cut down example together and verify the issue myself. I can't share the full source.

[2021-04-26 15:54] Geddih commented on #684
@jakobandersen attached ZIP contains XML (Doxygen 1.18.3) for a function and a cutdown version of my project.

[documentation.zip](https://github.com/michaeljones/breathe/files/6378441/documentation.zip)

[2021-04-27 23:26] orlandini commented on #45
I am loving breathe so far, and this feature would be great. Just showing my support (:

[2021-04-29 19:50] mloskot commented on #683
I also encountered the problem during build of https://github.com/nanodbc/nanodbc/ documentation

- Sphinx 3.5.4
- Breathe 4.29.1

[code]

[2021-04-30 08:37] fabratu commented on #683
If you want to execute it, you have to set env-variable CXX_STANDARD to at least 14 beforehand (that is at least how we run it). Alternatively you can set the variable directly in line 18 of `documentation.sh`:

[code]

I am also glad to assist in providing the necessary data:

1. Attached the output of doxygen, which is used for breathe `breathe_projects = { 'NetworKit': '../build/doxyoutput/xml'

[2021-04-30 11:28] jakobandersen commented on #683
@mloskot, @fabratu, thanks! I found the source of the problem.
For nanodbc there is the [unbind](https://nanodbc.github.io/nanodbc/api.html#_CPPv4N7nanodbc6result6unbindEv) function with the comment
[code]
which becomes the XML
[code]
For networkit there is a very similar case for the [constructor](https://networkit.github.io/dev-docs/cpp_api/classNetworKit_1_1GroupClosenessGrowShrink.html#_CPPv4I

[2021-04-30 15:37] #683 closed

[2021-05-02 00:31] #684 closed

[2021-05-02 14:46] t-b opened #688 "Example build outputs bug message"
When I execute `make html` with 9fb353a8 (changelog: update for #687, 2021-05-02) and sphinx 3.5.4 I get

[code]

[2021-05-02 14:55] t-b opened #689 "Not possible to use rst labels in embedded rst blocks with doxygen"
Is it possibel to use rst labels in the embed:rst blocks?

I've tried to add that into the examples

[code]

See [0001-WIP-Add-labels-to-embedded-rst.zip](https://github.com/michaeljones/breathe/files/6411615/0001-WIP-Add-labels-to-embedded-rst.zip) for a patch file.

My use case is to link to specific parts of the embed:rst blocks from the rest of the rst documentation.

[2021-05-02 14:59] vermeeren commented on #688
@t-b With Debian bullseye provided packages and only Breathe set via `PYTHONPATH` it's building fine here, this is with Sphinx 3.4.3, perhaps something changed on the Sphinx side?

@jakobandersen Anything you know of?

[2021-05-02 15:01] vermeeren commented on #689
@t-b Not sure, does it work with the things you tested? Presumably not because you created the issue?

[2021-05-02 15:16] jakobandersen commented on #688
No, I can't recall anything that should cause this. I think it is an old problem where an example is not explicitly labelled as C code, so the C++ directive rightly complains. Should be fixed with #690.

[2021-05-02 15:33] t-b commented on #688
Thanks both.

With #690 I still get

[code]

but this now less warning output.

[2021-05-02 15:33] t-b commented on #689
Ah okay, I should have mentioned that...

No I can't get it to work.

[2021-05-02 15:34] vermeeren commented on #688
Same as @t-b above, get a single warning instead of two currently.

[2021-05-02 15:40] jakobandersen commented on #688
Indeed, not sure why it did't get rid of both.

[2021-05-02 15:42] vermeeren commented on #689
I am not familiar with this part of Breathe at all, it might have something to do with the way it injects the raw rst, possibly things are escaped in some way. One would expect that if raw rst is passed to Sphinx as-is this should work the way you are trying to use it.

[2021-05-02 15:48] jakobandersen commented on #689
I don't think that is currently possible. The Doxygen XML is not parsed as RST as Breathe creates Docutils nodes directly. If there is a way to tag some text fragment in the Doxygen XML, then it should be possible to call the RST parser for that bit. I'm not too familiar with the Doxygen commands, but it could be that the [``\xmlonly``](https://www.doxygen.nl/manual/commands.html#cmdxmlonly) comma

[2021-05-04 14:21] vermeeren commented on #688
Merged the at least partial fix, though a single one still remains.

[2021-05-05 05:29] Andrei1Byte commented on #413
@jakobandersen Do you know anything about this topic? :)

[2021-05-05 08:36] twodrops opened #691 "breathe-apidoc does not list members by default"
When ``breathe-apidoc`` is used to generate classes (with ``-g class``), it writes the following into the generated rst files.

[code]
With the above, no members are listed which makes it not so useful. It will be good if members are listed by default.

[code]

[2021-05-05 08:55] gmarull opened #692 "retval value is duplicated"
The following docstring:

[code]

Renders as:
![image](https://user-images.githubusercontent.com/25011557/117117614-0b374700-ad90-11eb-8c87-1cbbec14f91a.png)

Breathe version: 4.29.2

[2021-05-05 09:39] jakobandersen commented on #413
As @vermeeren hinted/noted: Breathe doesn't render all the XML, it searches for bits and pieces and renders them. ``inbodydescription`` happens to be one of those nobody happened to address yet :-).
The rendering of declaration descriptions is at https://github.com/michaeljones/breathe/blob/42bc2afe1446d173ccc17a2095deb9798e1fac9d/breathe/renderer/sphinxrenderer.py#L835 where you in the bottom of

[2021-05-05 11:46] K3WLBUDDY commented on #692
This seems to be a duplicate of https://github.com/michaeljones/breathe/issues/684

[2021-05-05 11:58] K3WLBUDDY opened #693 "Differences with rendering of param and tparam attributes between versions 4.28 and 4.29"
Source doxygen comment:

![source_cmt](https://user-images.githubusercontent.com/13949004/117137232-0772e700-adc7-11eb-92c0-16e71ec3931b.JPG)

Output with Breathe 4.28 which seems to be the correct one:

![breathe_old](https://user-images.githubusercontent.com/13949004/117137253-0e015e80-adc7-11eb-96dc-c0f16e7b9d81.JPG)

Output with Breathe 4.29 which seems to be borked:

![breathe_new](https://us

[2021-05-05 11:58] gmarull commented on #692
Ok, I see it's now fixed on master. Let's wait for the next fix release.

[2021-05-05 11:58] #692 closed

[2021-05-05 12:00] K3WLBUDDY commented on #693
The same issue is observed with `param` doxygen tags as well with 4.29

[2021-05-05 15:02] vermeeren commented on #691
@twodrops I think we should add `-m, --members` option to `breathe-apidoc`. It's fairly standalone at https://github.com/michaeljones/breathe/blob/master/breathe/apidoc.py so this should be easy to do.

I'll give this a quick try and ask you to test it.

[2021-05-05 15:47] vermeeren commented on #693
@K3WLBUDDY If I assume Breathe 4.29.0, then this is probably because of #670. However, in screenshot of #670 you can see it renders differently with proper `Template Parameters` text.

Can you try latest Breathe and also post Sphinx version or try with newer Sphinx? If that doesn't work, can you add reproduction case?

[2021-05-06 05:36] twodrops commented on #691
@vermeeren cool! That works simply great. Thanks a lot for that quick implementation.
Do you plan to make a release with that?

[2021-05-06 15:46] vermeeren commented on #691
@twodrops Yeah I will merge it in a sec, hopefully CICD is working again today as the failure so far is very odd considering patch does not touch Breathe itself in any way.

When that's all working again I'll make a release.

[2021-05-06 19:42] #691 closed

[2021-05-10 10:55] Geddih commented on #684
Thanks for fixing the duplicate retval value in 4.30. However, I'm still getting a different layout for return values compared to parameters - see attached. Parameters use a bulleted list in 4.28 and 4.30; returns use a bulleted list in 4.28 but a description list in 4.30.

![breathe_return_layout](https://user-images.githubusercontent.com/83215752/117648713-79ac4880-b186-11eb-9be0-9ce3b82bd386.pn

[2021-05-10 12:40] jakobandersen commented on #684
The difference between parameters and returns is most like in how Sphinx handles them: the parameters fields are groupable, so if a directive has more than one it will collect them and make a list. The return field doesn't have this, and I'm unsure if it is easy to change it due to the ``rtype`` field that interacts with it.
Perhaps we should do this grouping manually in Breathe to get something s

[2021-05-12 08:36] Andrei1Byte opened #695 "Differences rendering between versions"
Hello,

I'm generating documentation using Breathe in combination with Sphinx and Doxygen for C, and until now using Sphinx = 3.5.4 Breathe = 4.27.0 and sphinx_rtd_theme = 0.5.2 the documentation was rendered like this

![image](https://user-images.githubusercontent.com/33694446/117942911-3f70b180-b314-11eb-855d-6993725037e4.png)

The _Parameters_ and _Returns_ were separate chapters, and each par

[2021-05-12 20:22] vermeeren commented on #695
@Andrei1Byte I think your issue is effectively the same #693, can you check?

[2021-05-12 20:39] SchindlerTo opened #696 "doxygenfunction generates "WARNING: c:identifier reference target not found: int32_t""
Hi,

we are starting to use doxygen->breathe->sphinx pipeline for documenting a C project. This is a really nice project, thanks a lot for creating this (!) and everything works  quite well, e.g.,

`/**
 * @brief C=A*B
 *
 * @param A Parameter
 * @param B Parameter
 * @return int32_t Returns the result
 */
int32_t multiply(int32_t A, int32_t B);
`

Using

`.. doxygenfunction:: multiply`

generates

[2021-05-12 22:07] vermeeren commented on #696
@SchindlerTo For the return there is no need to prefix it with the type, as Doxygen itself knows this by parsing.

I am not sure if this is caused the reference warning, as something might be trying to create a reference automagically based upon type name. Can you try with:

[code]

See also examples on https://www.doxygen.nl/manual/docblocks.html .

[2021-05-13 07:10] Andrei1Byte commented on #695
@vermeeren  Theoretically I think it seems to be the same issue, as what I observed is that between the versions there is a difference in the render.

In 4.27.0 it was like this:
![image](https://user-images.githubusercontent.com/33694446/118089102-ac498180-b3d0-11eb-94f2-e1f336b98fcb.png)

For example **Parameters** were a subchapter with a **gray background** and values were listed as a list and

[2021-05-13 08:35] SchindlerTo commented on #696
Thanks for the quick response! :)
I followed your advice but I am not sure if this is related. Tested the following:
[code]

Which results in the following warnings:
[code]

I tested different combinations and this warning is only present if the types are not the base types int/float/.. but a typedef such as defined length types or our own typedefs.

[2021-05-13 08:52] jakobandersen commented on #696
I don't think this is a Breathe issue, but at most a Sphinx issue. However, these warnings are expected in nitpicky mode: the type ``int32_t`` is neither a fundamental type nor documented, so Sphinx can't find anywhere to link the identifier.
In your configuration you can add [filters](https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-nitpick_ignore_regex) to ignore specific mi

[2021-05-13 09:15] SchindlerTo commented on #696
Thanks for the input! Consider this solved since your links provide nice solutions.

I also came to the conclusion that this is not related to breathe. I do not know why, but I just sort of assumed that standard header types are treated the same way as the fundamental types.
I tested the following with the c:directive :

[code]

And this get's rid of the warning and even the links work. The same i

[2021-05-13 09:35] SchindlerTo commented on #696
Added to `conf.py`:

[code]

[2021-05-13 09:35] #696 closed

[2021-05-13 09:48] jakobandersen commented on #696
Indeed these types are almost always indistinguishable from the fundamental types. Perhaps we should add a configuration variable in Sphinx to optionally ignore them for cross-referencing. If you open an issue over there I'll take a look at it at some point.

[2021-05-13 14:13] jakobandersen commented on #695
This is a side-effect of switching to translating paramters, exceptions, returns, etc. to using the field lists in Docutils/Sphinx. I think we can break it into 3 semi-orthogonal issues:
- The multiple returns due to multiple ``\reval``s. This is entirely on the Breathe side and should be better/fixed with #697.
- Having headers. This is also entirely on the Breathe side. I suggest adding a direct

[2021-05-14 07:58] Andrei1Byte commented on #695
@jakobandersen  Thanks a lot for the detailed explanation, so it is because now Breathe is using Docutils.

I know that there are different coding flavors and no one can implement something to please everyone, for me personally the old render has a bigger visual impact and you can easily follow the information, as it is structured with headers and marked with different colors.

As I don't have a l

[2021-05-14 08:56] jakobandersen commented on #695
A bit more background: Docutils provides the underlying infrastructure for representing documents and manipulating them. Sphinx then layers on top of that and provides, for example, infrastructure for documenting APIs in different languages ("domains"). Breathe is then an extension on top of that, that converts Doxygen XML into document fragments, using the Sphinx domains and Docutils nodes.

The

[2021-05-14 16:42] orlandini opened #699 "Duplicate declaration warning when including rst file"
In one of my `.rst` files I have a few

    .. include:: other_file.rst

That I want to be included directly in the same page. While it does work, it generates a lot of warnings on `Duplicate C++ declaration`.

Am I doing something wrong? Is there any workaround for that?

[2021-05-15 21:55] orlandini commented on #321
Any updates on that?

[2021-05-18 11:44] outoftardis opened #700 "Parsing issues with Sphinx 4.0.1"
With Sphinx 4.0.1, `breathe` parses Doxygen xml output in a way that results in incorrect markup.

**Common configs:**
- ``breathe==4.30.0``
- ``sphinx-book-theme==0.1.0``

## HTML

Here's the html code for the element containing the name of the class:

1) Correct parsing (``Sphinx==3.5.4``):

[code]

2) Incorrect parsing (``Sphinx==4.0.1``):

[code]

So basically with the latest version of Sphinx

[2021-05-18 12:03] jakobandersen commented on #700
This is due to a change in Sphinx, and is intentional. The previous code generation was inconsistent in styling and didn't offer options for themes to customize all elements. See https://github.com/sphinx-doc/sphinx/pull/9023 for more details.
From the screenshots it looks like your are using the sphinx_rtd_theme. I guess they might overwrite the default styles provided by Sphinx.

[2021-05-18 12:24] outoftardis commented on #700
Thanks for the explanation. I'm using `sphinx-book-theme`, but I also tried `furo`, and there's the same problem. So this should be fixed on the theme side, right?

[2021-05-18 12:30] jakobandersen commented on #700
I'm not familiar with those themes, but yes, the main point of the change was exactly to make it possible to customize completely on the theme side. You can find the relevant CSS in the basic theme at https://github.com/sphinx-doc/sphinx/blob/4.x/sphinx/themes/basic/static/basic.css_t#L511. Note that it was only the C and C++ domains that got updated with new code generation this time, so there is

[2021-05-18 23:45] vermeeren commented on #699
@orlandini Personally, I used split rst for large documents to avoid having a single huge rst file. But Sphinx renders anything with a rst extensions. Now there are some tricks with `:orphan:` global file flag and not specifying files in toctree, but even then it rst is rendered still. What I did was rename the to-be-included files with `.irst` (include rst) extension, so Sphinx does not render th

[2021-05-18 23:51] vermeeren commented on #700
Thanks for all the references @jakobandersen , based upon the above this is not specifically a Breathe issue so I will close it to keep the issue tracker a bit neat. Do feel free to continue posting here though if it is deemed useful.